<a href="https://colab.research.google.com/github/Om-soni-15/Gurgaon-Real-Estate-Price-Prediction-Analytics-Platform/blob/master/Notebooks/flats_dataset_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv('/content/flats - flats.csv')

In [ ]:
df

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,2 BHK Flat in Krishna Colony,https://www.99acres.com/2-bhk-bedroom-apartmen...,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",C68850746
1,2 BHK Flat in Ashok Vihar,https://www.99acres.com/2-bhk-bedroom-apartmen...,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",H68850564
2,2 BHK Flat in Sohna,https://www.99acres.com/2-bhk-bedroom-apartmen...,Tulsiani Easy in Homes,40 Lac,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",J68850120
3,2 BHK Flat in Sector 61 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Smart World Orchard,1.47 Crore,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN,S68849476
4,2 BHK Flat in Sector 92 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Parkwood Westend,70 Lac,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ...",L47956793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3023,3 BHK Flat in Sector 86 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Ansal Heights 86,1.05 Crore,"₹ 5,541/sq.ft.",Super Built up area 1895(176.05 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,Servant Room,"Tower C, Sector 86 Gurgaon, Gurgaon, Haryana",9th of 13 Floors,North-East,Under Construction,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",Residential apartment for sell.Located in sect...,[],NaN,"['Safety4.5 out of 5', 'Lifestyle5 out of 5', ...",D26586124
3024,5 BHK Flat in Sector 48 Gurgaon,https://www.99acres.com/5-bhk-bedroom-apartmen...,Parsvnath Green Ville3.9 ★,3.3 Crore,"₹ 9,984/sq.ft.",Super Built up area 3905(362.79 sq.m.)Built Up...,5 Bedrooms,5 Bathrooms,3+ Balconies,Servant Room,"Sector 48 Gurgaon, Gurgaon, Haryana",4th of 5 Floors,NaN,10+ Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",5 bhk duplex penthouse in low rise building.Av...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...","['Management4 out of 5', 'Green Area4 out of 5...",J17123294
3025,3 BHK Flat in Sector 108 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Raheja Vedaanta3.6 ★,95 Lac,"₹ 5,214/sq.ft.",Super Built up area 1822(169.27 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,Others,"Sector 108 Gurgaon, Gurgaon, Haryana",3rd of 22 Floors,NaN,1 to 5 Year Old,NaN,3 bedroom flat with full woodwork. Ready to mo...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3 out of 5', 'Green Area4 out of 5...",A41215323
3026,3 BHK Flat in DLF Phase 3,https://www.99acres.com/3-bhk-bedroom-apartmen...,Ambience Lagoon3.9 ★,5.8 Crore,"₹ 12,500/sq.ft.",Built Up area: 3700 (343.74 sq.m.),3 Bedrooms,4 Bathrooms,3+ Balconies,"Pooja Room,Study Room,Servant Room,Others","Gurgaon, DLF Phase 3, Gurgaon, Haryana",9th of 9 Floors,North-East,10+ Year Old,"['Micromax moulsari avenue metro station', 'In...",Luxury condominium complex located on delhi gu...,"['1 Water Purifier', '10 Fan', '1 Fridge', '1 ...","['Security / Fire Alarm', 'Private Garden / Te...","['Management5 out of 5', 'Green Area5 out of 5...",J18888617
3027,4 BHK Flat in Sector 54 Gurgaon,https://www.99acres.com/4-bhk-bedroom-apartmen...,DLF The Crest3.6 ★,11 Crore,"₹ 35,222/sq.ft.",Super Built up area 3123(290.14 sq.m.),4 Bedrooms,6 Bathrooms,3 Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",7th of 36 Floors,NaN,1 to 5 Year Old,"['Sector 53-54 Metro Station', 'Ardee Mall', '...",Club & pool facing\nVrv air conditioning,"['6 Fan', '1 Fridge', '1 Exhaust Fan', '5 Geys...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Management4 out of 5', 'Green Area4 out of 5...",V70296402

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3027 entries, 0 to 3027
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3027 non-null   object
 1   society          3026 non-null   object
 2   price            3007 non-null   object
 3   price_per_sqft   3014 non-null   object
 4   areaWithType     3008 non-null   object
 5   bedRoom          3027 non-null   object
 6   bathroom         3008 non-null   object
 7   balcony          3008 non-null   object
 8   additionalRoom   1694 non-null   object
 9   address          3002 non-null   object
 10  floorNum         3006 non-null   object
 11  facing           2127 non-null   object
 12  agePossession    3007 non-null   object
 13  nearbyLocations  2913 non-null   object
 14  description      3008 non-null   object
 15  furnishDetails   2203 non-null   object
 16  features         2594 non-null   object
 17  rating           2676 non-null   object
dtypes: object(18)
memory usage: 449.3+ KB

In [ ]:
df.drop(columns=['link','property_id'], inplace=True)

In [ ]:
df.rename(columns={'area':'price_per_sqft'},inplace=True)

In [ ]:
df['bedRoom']=df['bedRoom'].astype(str).apply(lambda x:x.split()[0])

In [ ]:
df

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,Tulsiani Easy in Homes,40 Lac,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,Smart World Orchard,1.47 Crore,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,Parkwood Westend,70 Lac,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3023,3 BHK Flat in Sector 86 Gurgaon,Ansal Heights 86,1.05 Crore,"₹ 5,541/sq.ft.",Super Built up area 1895(176.05 sq.m.),3,3 Bathrooms,3 Balconies,Servant Room,"Tower C, Sector 86 Gurgaon, Gurgaon, Haryana",9th of 13 Floors,North-East,Under Construction,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",Residential apartment for sell.Located in sect...,[],NaN,"['Safety4.5 out of 5', 'Lifestyle5 out of 5', ..."
3024,5 BHK Flat in Sector 48 Gurgaon,Parsvnath Green Ville3.9 ★,3.3 Crore,"₹ 9,984/sq.ft.",Super Built up area 3905(362.79 sq.m.)Built Up...,5,5 Bathrooms,3+ Balconies,Servant Room,"Sector 48 Gurgaon, Gurgaon, Haryana",4th of 5 Floors,NaN,10+ Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",5 bhk duplex penthouse in low rise building.Av...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...","['Management4 out of 5', 'Green Area4 out of 5..."
3025,3 BHK Flat in Sector 108 Gurgaon,Raheja Vedaanta3.6 ★,95 Lac,"₹ 5,214/sq.ft.",Super Built up area 1822(169.27 sq.m.),3,3 Bathrooms,3 Balconies,Others,"Sector 108 Gurgaon, Gurgaon, Haryana",3rd of 22 Floors,NaN,1 to 5 Year Old,NaN,3 bedroom flat with full woodwork. Ready to mo...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3 out of 5', 'Green Area4 out of 5..."
3026,3 BHK Flat in DLF Phase 3,Ambience Lagoon3.9 ★,5.8 Crore,"₹ 12,500/sq.ft.",Built Up area: 3700 (343.74 sq.m.),3,4 Bathrooms,3+ Balconies,"Pooja Room,Study Room,Servant Room,Others","Gurgaon, DLF Phase 3, Gurgaon, Haryana",9th of 9 Floors,North-East,10+ Year Old,"['Micromax moulsari avenue metro station', 'In...",Luxury condominium complex located on delhi gu...,"['1 Water Purifier', '10 Fan', '1 Fridge', '1 ...","['Security / Fire Alarm', 'Private Garden / Te...","['Management5 out of 5', 'Green Area5 out of 5..."
3027,4 BHK Flat in Sector 54 Gurgaon,DLF The Crest3.6 ★,11 Crore,"₹ 35,222/sq.ft.",Super Built up area 3123(290.14 sq.m.),4,6 Bathrooms,3 Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",7th of 36 Floors,NaN,1 to 5 Year Old,"['Sector 53-54 Metro Station', 'Ardee Mall', '...",Club & pool facing\nVrv air conditioning,"['6 Fan', '1 Fridge', '1 Exhaust Fan', '5 Geys...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Management4 out of 5', 'Green Area4 out of 5..."

In [ ]:
df['bedRoom'].value_counts()

bedRoom
3          1439
2           948
4           481
1           105
5            32
nan          19
6             3
bedRoom       1
Name: count, dtype: int64

In [ ]:
(df[df['bedRoom']=='nan']).shape

(19, 18)

In [ ]:
df.drop(286,axis=0,inplace=True)

In [ ]:
df.bedRoom.isnull().sum()

0

In [ ]:
df = df[df['bedRoom'] != 'nan']

In [ ]:
df['bedRoom']=df['bedRoom'].astype(int)

In [ ]:
df['balcony'].value_counts()

balcony
3 Balconies     977
3+ Balconies    863
2 Balconies     751
1 Balcony       318
No Balcony       99
Name: count, dtype: int64

In [ ]:
df['balcony'].isnull().sum()

0

In [ ]:
df['balcony']=df['balcony'].replace('No Balcony',0)
df['balcony']=df['balcony'].replace('1 Balcony',1)
df['balcony']=df['balcony'].replace('2 Balconies',2)
df['balcony']=df['balcony'].replace('3 Balconies',3)
df['balcony']=df['balcony'].replace('3+ Balconies',4)

<ipython-input-105-290d908692e4>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['balcony']=df['balcony'].replace('3+ Balconies',4)

In [ ]:
df['bathroom'] = df['bathroom'].str.split(' ').str.get(0).astype(int)

In [ ]:
df['balcony']

0       1
1       1
2       3
3       2
4       3
5       3
6       3
7       3
8       4
9       2
10      2
11      1
12      3
13      4
14      3
15      3
16      0
17      2
18      3
19      3
20      2
21      4
22      3
23      4
24      4
25      0
26      1
27      2
28      4
29      2
30      0
31      2
32      4
33      1
34      2
35      3
36      4
37      2
38      2
39      3
40      2
41      4
42      4
43      4
44      2
45      4
46      4
47      2
48      4
49      4
50      4
51      2
52      3
53      2
54      2
55      4
56      1
57      1
58      1
59      2
60      2
61      3
62      4
63      2
64      4
65      3
66      4
67      3
68      2
69      2
70      3
71      3
72      2
73      1
74      3
75      2
76      2
77      3
78      4
79      3
80      2
81      0
82      1
83      4
84      1
85      1
86      4
87      1
88      1
89      1
90      2
91      2
92      2
93      0
94      0
95      2
96      4
97      2
98      2
99      2
100     3
101     3
102     3
103     2
104     2
105     4
106     4
107     3
108     1
109     2
110     2
111     1
112     2
113     2
114     2
115     1
116     4
117     2
118     4
119     4
120     2
121     1
122     1
123     3
124     3
125     2
126     3
127     2
128     2
129     0
130     3
131     0
132     1
133     1
134     1
135     2
136     2
137     1
138     1
139     3
140     4
141     3
142     0
143     3
144     2
145     3
146     3
147     4
148     3
149     1
150     3
151     1
152     3
153     2
154     1
155     3
156     1
157     3
158     3
159     1
160     3
161     4
162     2
163     2
164     2
165     4
166     0
167     1
168     3
169     2
170     3
171     2
172     2
173     4
174     4
175     4
176     4
177     3
178     2
179     3
180     4
181     0
182     3
183     1
184     3
185     4
186     3
187     3
188     1
189     1
190     1
191     4
192     0
193     4
194     3
195     0
196     3
197     4
198     1
199     2
200     3
201     1
202     0
203     3
204     4
205     3
206     0
207     1
208     3
209     1
210     3
211     3
212     3
213     1
214     2
215     2
216     4
217     3
218     2
219     4
220     3
221     3
222     3
223     3
224     1
225     1
226     2
227     3
228     3
229     4
230     3
231     2
232     1
233     2
234     3
235     2
236     3
237     4
238     3
239     3
240     2
241     3
242     1
243     2
244     4
245     3
246     2
247     3
248     3
249     2
250     3
251     1
252     3
253     2
254     3
255     3
256     3
257     3
258     2
259     4
260     2
261     3
262     3
263     3
264     3
265     4
266     4
267     2
268     2
269     4
270     3
271     2
272     4
273     2
274     4
275     0
276     2
277     3
278     0
279     0
280     0
281     4
282     3
283     2
284     3
285     3
287     3
288     3
289     4
290     4
291     2
292     4
293     4
294     2
295     3
296     3
297     3
298     2
299     2
300     3
301     3
302     1
303     3
304     1
305     2
306     2
307     3
308     4
309     4
310     2
311     3
312     2
313     2
314     4
315     4
316     3
317     4
318     3
319     4
320     3
321     4
322     4
323     2
324     3
325     3
326     2
327     3
328     3
329     1
330     3
331     1
332     2
333     2
334     3
335     4
336     3
337     2
338     4
339     3
340     3
341     4
342     3
343     4
344     4
345     3
346     4
347     4
348     2
349     1
350     1
351     3
352     2
353     1
354     3
355     3
356     4
357     2
358     3
359     3
360     4
361     3
362     4
363     3
364     2
365     2
366     3
367     4
368     2
369     2
370     3
371     3
372     2
373     2
374     4
375     3
376     4
377     4
378     1
379     3
380     3
381     2
382     4
383     4
384     4
385     4
386     4
387     3
388     3
389     4
390     3
391     4
392     2
393     3
394     3
395     4
396     3
397     2
398     2
399     2
400     3
401     3
402     3
403     2
404     4
405     2
406     3
407     4
408     3
409     4
410     2
411     4
412     4
413     4
414     4
415     3
416     4
417     3
418     3
419     1
420     2
421     4
422     4
423     4
424     2
425     4
426     4
427     4
428     2
429     3
430     4
431     3
432     4
433     3
434     3
435     3
436     3
437     2
438     3
439     2
440     4
441     3
442     3
443     3
444     4
445     2
446     4
447     3
448     2
449     4
450     3
451     3
452     3
453     4
454     4
455     4
456     4
457     3
458     4
459     3
460     3
461     4
462     2
463     2
464     4
465     4
466     4
467     4
468     4
469     4
470     2
471     3
472     3
473     4
474     4
475     3
476     3
477     4
478     3
479     4
480     3
481     4
482     3
483     3
484     3
485     3
486     4
487     4
488     4
489     4
490     3
491     3
492     3
493     4
494     4
495     3
496     1
497     4
498     4
499     4
500     3
501     2
502     4
503     3
504     2
505     2
506     3
507     3
508     4
509     4
510     4
511     3
512     4
513     3
514     3
515     4
516     4
517     4
518     4
519     2
520     4
521     4
522     4
523     3
524     3
525     2
526     4
527     3
528     2
529     3
530     4
531     4
532     4
533     3
534     2
535     4
536     3
537     3
538     4
539     4
540     3
541     4
542     3
543     4
544     4
545     2
546     2
547     4
548     4
549     4
550     3
551     2
552     3
553     4
554     4
555     2
556     3
557     4
558     2
559     3
560     4
561     3
562     1
563     2
564     3
565     4
566     4
567     4
568     4
569     4
570     4
571     4
572     4
573     3
574     4
575     3
576     3
577     2
578     2
579     3
580     4
581     4
582     4
583     3
584     4
585     4
586     4
587     4
588     3
589     3
590     2
591     4
592     2
593     2
594     4
595     4
596     4
597     4
598     4
599     4
600     4
601     4
602     4
603     3
604     4
605     3
606     3
607     4
608     4
609     4
610     3
611     3
612     4
613     4
614     1
615     4
616     4
617     4
618     3
619     4
620     3
621     3
622     4
623     3
624     4
625     4
626     4
627     3
628     3
629     2
630     3
631     3
632     4
633     2
634     4
635     4
636     3
637     4
638     3
639     2
640     4
641     2
642     4
643     4
644     4
645     3
646     4
647     4
648     4
649     4
650     4
651     4
652     4
653     3
654     4
655     3
656     4
657     3
658     2
659     3
660     4
661     3
662     3
663     3
664     4
665     3
666     3
667     1
668     4
669     4
670     4
671     3
672     3
673     3
674     4
675     4
676     3
677     4
678     3
679     4
680     3
681     4
682     3
683     3
684     4
685     4
686     4
687     2
688     3
689     3
690     4
691     2
692     3
693     3
694     3
695     2
696     2
697     4
698     4
699     4
700     3
701     4
702     4
703     3
704     2
705     3
706     3
707     3
708     3
709     4
710     3
711     4
712     4
713     4
714     4
715     4
716     2
717     3
718     3
719     4
720     4
721     2
722     2
723     2
724     2
725     3
726     4
727     3
728     1
729     3
730     2
731     2
732     4
733     3
734     4
735     4
736     4
737     4
738     3
739     3
740     4
741     2
742     2
743     3
744     4
745     3
746     2
747     4
748     4
749     4
750     3
751     2
752     3
753     3
754     3
755     4
756     4
757     4
758     3
759     4
760     3
761     4
762     4
763     2
764     2
765     2
766     3
767     4
768     3
769     4
770     4
771     2
772     4
773     4
774     2
775     2
776     3
777     3
778     4
779     3
780     3
781     3
782     3
783     1
784     4
785     3
786     4
787     4
788     4
789     2
790     3
791     1
792     4
793     4
794     3
795     3
796     3
797     3
798     3
799     4
800     3
801     3
802     4
803     4
804     3
805     3
806     3
807     3
808     3
809     2
810     3
811     4
812     3
813     2
814     4
815     2
816     3
817     2
818     2
819     4
820     4
821     3
822     4
823     3
824     1
825     2
826     1
827     1
828     2
829     2
830     4
831     4
832     3
833     4
834     4
835     3
836     4
837     2
838     4
839     4
840     3
841     3
842     4
843     3
844     3
845     4
846     3
847     3
848     3
849     3
850     3
851     3
852     3
853     4
854     3
855     4
856     4
857     3
858     3
859     3
860     3
861     4
862     4
863     3
864     2
865     3
866     2
867     3
868     4
869     3
870     2
871     2
872     3
873     4
874     3
875     2
876     2
877     3
878     2
879     4
880     4
881     3
882     4
883     3
884     1
885     3
886     3
887     4
888     4
889     4
890     4
891     3
892     2
893     4
894     4
895     4
896     3
897     4
898     4
899     3
900     3
901     3
902     3
903     3
904     3
905     2
906     2
907     3
908     3
909     3
910     3
911     4
912     3
913     4
914     3
915     2
916     2
917     3
918     1
919     2
920     4
921     2
922     3
923     4
924     4
925     3
926     4
927     3
928     3
929     2
930     3
931     4
932     2
933     3
934     4
935     4
936     2
937     4
938     4
939     4
940     2
941     2
942     4
943     3
944     3
945     1
946     1
947     4
948     4
949     3
950     2
951     3
952     4
953     4
954     2
955     3
956     4
957     4
958     3
959     2
960     2
961     4
962     4
963     3
964     4
965     4
966     4
967     4
968     2
969     4
970     4
971     4
972     4
973     4
974     4
975     4
976     3
977     3
978     3
979     1
980     2
981     2
982     3
983     3
984     3
985     4
986     2
987     3
988     3
989     3
990     3
991     3
992     2
993     2
994     3
995     3
996     4
997     3
998     2
999     4
1000    4
1001    3
1002    4
1003    4
1004    4
1005    2
1006    3
1007    2
1008    3
1009    3
1010    3
1011    3
1012    3
1013    3
1014    2
1015    2
1016    4
1017    3
1018    4
1019    4
1020    4
1021    2
1022    4
1023    4
1024    4
1025    4
1026    4
1027    4
1028    2
1029    3
1030    3
1031    4
1032    2
1033    2
1034    4
1035    3
1036    4
1037    3
1038    4
1039    3
1040    4
1041    4
1042    4
1043    3
1044    4
1045    4
1046    4
1047    3
1048    3
1049    3
1050    2
1051    1
1052    3
1053    4
1054    3
1055    4
1056    2
1057    2
1058    3
1059    2
1060    2
1061    4
1062    3
1063    2
1064    3
1065    2
1066    4
1067    4
1068    3
1069    3
1070    3
1071    3
1072    3
1073    4
1074    2
1075    4
1076    4
1077    4
1078    3
1079    4
1080    3
1081    3
1082    2
1083    4
1084    2
1085    2
1086    2
1087    2
1088    1
1089    1
1090    3
1091    3
1092    3
1093    4
1094    4
1095    4
1096    4
1097    3
1098    1
1099    4
1100    4
1101    3
1102    4
1103    2
1104    4
1105    2
1106    2
1107    4
1108    4
1109    4
1110    2
1111    2
1112    2
1113    4
1114    3
1115    3
1116    2
1117    2
1118    2
1119    3
1120    2
1121    1
1122    2
1123    4
1124    4
1125    2
1126    2
1127    4
1128    4
1129    3
1130    4
1131    4
1132    3
1133    4
1134    1
1135    1
1136    1
1137    1
1138    1
1139    1
1140    1
1141    1
1142    1
1143    3
1144    1
1145    2
1146    2
1147    1
1148    2
1149    1
1150    4
1151    1
1152    3
1153    1
1154    2
1155    3
1156    2
1157    2
1158    2
1159    2
1160    1
1161    2
1162    2
1163    2
1164    2
1165    2
1166    3
1167    3
1168    3
1169    2
1170    2
1171    3
1172    2
1173    1
1174    4
1175    3
1176    4
1177    3
1178    3
1179    4
1180    2
1181    3
1182    4
1183    3
1184    3
1185    3
1186    3
1187    3
1188    3
1189    2
1190    3
1191    2
1192    3
1193    3
1194    3
1195    4
1196    4
1197    2
1198    2
1199    3
1200    3
1201    3
1202    4
1203    3
1204    3
1205    4
1206    4
1207    3
1208    2
1209    1
1210    1
1211    2
1212    4
1213    3
1214    4
1215    3
1216    2
1217    3
1218    3
1219    2
1220    2
1221    4
1222    1
1223    1
1224    2
1225    4
1226    4
1227    4
1228    4
1229    4
1230    4
1231    3
1232    4
1233    2
1234    3
1235    4
1236    4
1237    4
1238    4
1239    3
1240    4
1241    3
1242    4
1243    3
1244    4
1245    3
1246    3
1247    3
1248    3
1249    3
1250    3
1251    3
1252    3
1253    3
1254    3
1255    3
1256    3
1257    3
1258    2
1259    3
1260    1
1261    1
1262    1
1263    1
1264    3
1265    2
1266    3
1267    3
1268    3
1269    3
1270    3
1271    3
1272    4
1273    4
1274    2
1275    3
1276    4
1277    4
1278    3
1279    3
1280    4
1281    4
1282    4
1283    2
1284    2
1285    2
1286    4
1287    4
1288    4
1289    4
1290    3
1291    3
1292    2
1293    3
1294    3
1295    3
1296    2
1297    3
1298    2
1299    1
1300    3
1301    4
1302    4
1303    3
1304    2
1305    3
1306    2
1307    1
1308    1
1309    1
1310    1
1311    1
1312    1
1313    1
1314    3
1315    3
1316    4
1317    4
1318    4
1319    2
1320    4
1321    4
1322    4
1323    3
1324    4
1325    2
1326    4
1327    3
1328    1
1329    3
1330    1
1331    1
1332    1
1333    1
1334    1
1335    1
1336    4
1337    3
1338    1
1339    2
1340    3
1341    2
1342    3
1343    1
1344    4
1345    3
1346    4
1347    3
1348    4
1349    4
1350    4
1351    2
1352    4
1353    4
1354    4
1355    4
1356    3
1357    4
1358    3
1359    3
1360    1
1361    3
1362    4
1363    4
1364    4
1365    4
1366    2
1367    4
1368    3
1369    4
1370    3
1371    3
1372    4
1373    3
1374    4
1375    2
1376    4
1377    4
1378    4
1379    1
1380    3
1381    3
1382    3
1383    3
1384    3
1385    3
1386    3
1387    3
1388    3
1389    2
1390    3
1391    3
1392    2
1393    3
1394    3
1395    1
1396    3
1397    3
1398    4
1399    3
1400    3
1401    3
1402    3
1403    3
1404    2
1405    2
1406    2
1407    1
1408    3
1409    4
1410    2
1411    3
1412    3
1413    4
1414    3
1415    3
1416    4
1417    3
1418    4
1419    1
1420    4
1421    4
1422    1
1423    1
1424    3
1425    3
1426    3
1427    4
1428    3
1429    3
1430    3
1431    4
1432    3
1433    2
1434    3
1435    4
1436    3
1437    3
1438    3
1439    3
1440    2
1441    2
1442    3
1443    2
1444    3
1445    3
1446    4
1447    3
1448    4
1449    3
1450    3
1451    2
1452    3
1453    3
1454    2
1455    4
1456    4
1457    4
1458    3
1459    4
1460    4
1461    4
1462    2
1463    2
1464    3
1465    3
1466    3
1467    4
1468    3
1469    3
1470    2
1471    3
1472    4
1473    3
1474    3
1475    3
1476    4
1477    4
1478    4
1479    4
1480    3
1481    3
1482    3
1483    3
1484    3
1485    4
1486    3
1487    4
1488    4
1489    4
1490    3
1491    4
1492    3
1493    3
1494    3
1495    3
1496    4
1497    4
1498    3
1499    4
1500    4
1501    4
1502    4
1503    4
1504    4
1505    2
1506    3
1507    2
1508    4
1509    4
1510    2
1511    3
1512    4
1513    3
1514    4
1515    4
1516    3
1517    2
1518    4
1519    4
1520    3
1521    3
1522    3
1523    3
1524    3
1525    3
1526    3
1527    3
1528    3
1529    3
1530    3
1531    3
1532    3
1533    3
1534    3
1535    3
1536    3
1537    3
1538    3
1539    4
1540    4
1541    4
1542    3
1543    3
1544    4
1545    4
1546    2
1547    4
1548    2
1549    2
1550    3
1551    3
1552    3
1553    4
1554    4
1555    4
1556    1
1557    1
1558    4
1559    2
1560    4
1561    4
1562    3
1563    4
1564    4
1565    4
1566    4
1567    4
1568    4
1569    4
1570    4
1571    4
1572    3
1573    4
1574    4
1575    3
1576    4
1577    3
1578    4
1579    3
1580    4
1581    3
1582    3
1583    3
1584    4
1585    4
1586    4
1587    4
1588    2
1589    2
1590    4
1591    2
1592    4
1593    2
1594    3
1595    3
1596    3
1597    3
1598    1
1599    1
1600    2
1601    3
1602    2
1603    2
1604    2
1605    2
1606    2
1607    2
1608    2
1609    4
1610    4
1611    3
1612    4
1613    4
1614    3
1615    4
1616    4
1617    2
1618    3
1619    2
1620    2
1621    4
1622    3
1623    3
1624    3
1625    3
1626    3
1627    4
1628    4
1629    4
1630    4
1631    3
1632    4
1633    2
1634    2
1635    3
1636    3
1637    3
1638    4
1639    2
1640    2
1641    3
1642    3
1643    4
1644    2
1645    3
1646    4
1647    2
1648    2
1649    2
1650    3
1651    4
1652    2
1653    3
1654    4
1655    4
1656    2
1657    3
1658    3
1659    4
1660    4
1661    4
1662    4
1663    4
1664    4
1665    3
1666    4
1667    3
1668    3
1669    4
1670    3
1671    4
1672    4
1673    3
1674    4
1675    4
1676    3
1677    4
1678    4
1679    4
1680    4
1681    3
1682    4
1683    3
1684    3
1685    2
1686    4
1687    1
1688    2
1689    2
1690    4
1691    4
1692    4
1693    4
1694    4
1695    4
1696    4
1697    2
1698    4
1699    2
1700    2
1701    2
1702    4
1703    4
1704    3
1705    3
1706    4
1707    4
1708    4
1709    2
1710    2
1711    1
1712    1
1713    2
1714    1
1715    2
1716    2
1717    4
1718    4
1719    1
1720    1
1721    3
1722    3
1723    2
1724    1
1725    2
1726    2
1727    2
1728    2
1729    1
1730    2
1731    2
1732    2
1733    2
1734    3
1735    4
1736    4
1737    2
1738    2
1739    4
1740    4
1741    2
1742    4
1743    4
1744    4
1745    3
1746    4
1747    4
1748    4
1749    4
1750    3
1751    2
1752    3
1753    4
1754    4
1755    4
1756    4
1757    4
1758    3
1759    3
1760    3
1761    3
1762    2
1763    2
1764    2
1765    4
1766    1
1767    2
1768    4
1769    2
1770    2
1771    2
1772    2
1773    2
1774    1
1775    4
1776    1
1777    1
1778    1
1779    2
1780    2
1781    2
1782    2
1783    3
1784    4
1785    4
1786    4
1787    3
1788    4
1789    4
1790    4
1791    2
1792    4
1793    4
1794    4
1795    2
1796    2
1797    2
1798    2
1799    2
1800    2
1801    2
1802    3
1803    3
1804    3
1805    3
1806    3
1807    2
1808    4
1809    1
1810    3
1811    3
1812    4
1813    3
1814    3
1815    2
1816    3
1817    2
1818    2
1819    3
1820    3
1821    4
1822    3
1823    3
1824    4
1825    3
1826    1
1827    4
1828    3
1829    2
1830    3
1831    4
1832    1
1833    3
1834    2
1835    2
1836    4
1837    4
1838    4
1839    4
1840    3
1841    4
1842    3
1843    1
1844    3
1845    4
1846    2
1847    3
1848    3
1849    3
1850    3
1851    3
1852    3
1853    4
1854    2
1855    4
1856    0
1857    3
1858    3
1859    3
1860    3
1861    3
1862    3
1863    2
1864    3
1865    4
1866    3
1867    3
1868    4
1869    3
1870    3
1871    3
1872    3
1873    3
1874    4
1875    3
1876    3
1877    4
1878    2
1879    3
1880    4
1881    4
1882    3
1883    3
1884    3
1885    4
1886    3
1887    3
1888    4
1889    3
1890    3
1891    3
1892    3
1893    3
1894    3
1895    2
1896    2
1897    4
1898    4
1899    4
1900    4
1901    4
1902    3
1903    1
1904    3
1905    3
1906    2
1907    1
1908    1
1909    1
1910    2
1911    1
1912    2
1913    1
1914    3
1915    3
1916    2
1917    1
1918    0
1919    1
1920    3
1921    0
1922    3
1923    4
1924    1
1925    4
1926    4
1927    4
1928    2
1929    3
1930    4
1931    1
1932    1
1933    4
1934    4
1935    4
1936    3
1937    2
1938    3
1939    4
1940    4
1941    1
1942    3
1943    3
1944    4
1945    2
1946    3
1947    2
1948    2
1949    1
1950    3
1951    4
1952    3
1953    4
1954    2
1955    4
1956    3
1957    4
1958    4
1959    2
1960    1
1961    4
1962    2
1963    4
1964    2
1965    2
1966    2
1967    4
1968    3
1969    3
1970    3
1971    1
1972    1
1973    1
1974    2
1975    3
1976    2
1977    2
1978    2
1979    1
1980    3
1981    2
1982    3
1983    2
1984    2
1985    2
1986    0
1987    3
1988    3
1989    3
1990    2
1991    2
1992    2
1993    1
1994    1
1995    4
1996    4
1997    1
1998    1
1999    2
2000    1

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2,2,1,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2,2,1,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,Tulsiani Easy in Homes,40 Lac,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2,2,3,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,Smart World Orchard,1.47 Crore,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2,2,2,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,Parkwood Westend,70 Lac,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2,2,3,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [ ]:
df['society'].value_counts()

society
SS The Leaf3.8 ★                             73
Tulip Violet4.3 ★                            40
Shapoorji Pallonji Joyville Gurugram4.0 ★    39
Signature Global Park4.0 ★                   36
Shree Vardhman Victoria3.8 ★                 35
                                             ..
Meditech Apartment                            1
Mariners Home                                 1
IMT View Society                              1
Professional Society                          1
Spire Woods Now Ananda by Alpha corp          1
Name: count, Length: 636, dtype: int64

In [ ]:
import re
df['society'] = df['society'].apply(lambda name: re.sub(r'\d+(\.\d+)?\s?★', '', str(name)).strip()).str.lower()

In [ ]:
df['society'].value_counts()

society
tulip violet                                     75
ss the leaf                                      74
shapoorji pallonji joyville gurugram             45
dlf new town heights                             38
signature global park                            36
shree vardhman victoria                          35
smart world gems                                 32
emaar mgf emerald floors premier                 32
smart world orchard                              32
paras dews                                       31
dlf the ultima                                   31
dlf regal gardens                                30
m3m woodshire                                    30
shree vardhman flora                             29
la vida by tata housing                          28
godrej nature plus                               27
signature global solera                          27
bptp terra                                       25
emaar gurgaon greens                             25
vatika gurgaon                                   24
experion the heartsong                           24
eldeco accolade                                  24
bestech park view residency                      23
m3m heights                                      22
emaar palm gardens                               22
ats triumph                                      22
tata primanti                                    22
godrej                                           21
rof ananda                                       21
sare crescent parc                               21
experion windchants                              20
antriksh heights                                 19
sare homes                                       19
ats tourmaline                                   18
chd avenue                                       18
m3m skywalk                                      18
mapsko mount ville                               18
ambience creacions                               18
sobha city                                       18
supertech araville                               18
hcbs sports ville                                18
indiabulls centrum park                          18
m3m golfestate                                   18
gls arawali homes                                17
conscient heritage max                           17
godrej summit                                    17
m3m merlin                                       16
pareena coban residences                         16
bestech park view grand spa                      16
dlf the skycourt                                 15
godrej oasis                                     15
ramsons kshitij                                  15
umang monsoon breeze                             15
ansal heights 86                                 15
emaar mgf the palm drive                         15
umang winter hills                               14
corona optus                                     14
orchid petals                                    14
indiabulls enigma                                14
dlf the primus                                   14
mvn athens                                       14
imperia the esfera                               14
ireo victory valley                              14
ireo skyon                                       14
bestech park view ananda                         14
vatika the seven lamps                           14
the close north                                  14
puri diplomatic greens                           13
central park flower valley                       13
ireo the corridors                               13
ats kocoon                                       13
puri emerald bay                                 13
adani m2k oyster grande                          11
godrej aria                                      11
raheja vedaanta                                  11
breez global heights                             11
bestech park view sanskruti                      11
alpha corp gurgaonone                            11
dlf regency park                                 11
sbtl caladium                                    11
m3m soulitude                                    11
tarc maceo                                       11
pyramid urban homes 2                            10
zara aavaas                                      10
emaar mgf palm hills                             10
ramprastha the edge towers                       10
pivotal devaan                                   10
godrej air                                       10
ild greens                                       10
breez global hill view                           10
capital residences 360                           10
signature global synera                          10
microtek greenburg                                9
pareena mi casa                                   9
parsvnath green ville                             9
aipl the peaceful homes                           9
bestech park view city                            9
vatika city                                       9
emaar digihomes                                   8
birla navya                                       8
avl 36 gurgaon                                    8
ss                                                8
tulip ivory                                       8
vatika lifestyle homes                            8
m3m capital                                       8
the lions cghs                                    8
gls avenue 51                                     8
orris aster court premier                         8
bestech altura                                    8
m3m skycity                                       8
signature global orchard avenue                   7
signature global city                             7
orris carnation residency                         7
sare crescent parc royal greens phase 1           7
aipl zen residences                               7
mapsko casa bella                                 7
sare green parc phase 3                           7
assotech blith                                    7
emaar imperial gardens                            7
ashiana anmol                                     7
ansal housing highland park                       7
ireo the grand arch                               7
sidhartha ncr one phase                           7
trisara our homes 3                               7
vipul lavanya                                     7
signature andour heights                          7
green court                                       6
supertech hues                                    6
signature global park 4                           6
signature global city 63a                         6
hsiidc sidco aravali                              6
signature the roselia                             6
bptp astaire gardens                              6
mapsko royale ville                               6
ashiana mulberry                                  6
pioneer araya                                     6
suncity vatsal valley                             6
bestech park view spa next                        6
parsvnath exotica                                 6
pyramid urban                                     6
m3m sierra 68                                     6
hero homes                                        6
kiran residency                                   6
silverglades the melia                            5
adani brahma samsara vilasa                       5
signature global city 37d ph 2                    5
godrej habitat                                    5
m3m the marina                                    5
signature global city 81                          5
central park flower valley aqua front towers      5
apna enclave                                      5
vatika city homes                                 5
unitech uniworld gardens                          5
vatika sovereign park                             5
krisumi waterfall residences                      5
unitech fresco                                    5
central park resorts                              5
satya the hermitage                               5
emaar mgf emerald estate                          5
signature global city 92                          5
signature global grand iva                        5
essel towers                                      5
dlf park place                                    5
pioneer park                                      5
ireo uptown                                       5
pareena laxmi apartments                          5
conscient elevate                                 5
greenopolis                                       5
ats marigold                                      5
signature global the millennia                    5
ss the coralwood                                  4
krrish provence estate                            4
lotus homz                                        4
raheja navodaya                                   4
afnhb jalvayu vihar                               4
signature the serenas                             4
dlf the arbour                                    4
corona gracieux                                   4
emaar palm heights                                4
essel tower                                       4
global hill view                                  4
orris aster court                                 4
godrej icon                                       4
sare petioles                                     4
kendriya vihar                                    4
prime habitat                                     4
tata gurgaon gateway                              4
hsiidc sidco shivalik apartments                  4
godrej frontier                                   4
ramprastha primera                                4
railway officers rpf society                      4
ramprastha skyz                                   4
tulip monsella                                    4
ild grand                                         4
unitech vistas                                    4
tulip petals                                      3
raheja atharva                                    3
sare green parc                                   3
bhagwati sadan                                    3
satya element one                                 3
adani aangan arcade                               3
valley view estate                                3
paras quartier                                    3
vatika xpressions                                 3
spaze privy                                       3
tulip lemon                                       3
sidhartha ncr one                                 3
ambience lagoon                                   3
unitech sunbreeze                                 3
raheja revanta                                    3
dlf express greens                                3
spaze privvy the address                          3
chintels paradiso                                 3
dlf royalton tower                                3
unitech the residences                            3
krrish florence estate                            3
deepak minda                                      3
tulip purple                                      3
maxworth city residences                          3
vatika independent floors                         3
signature global solera 2                         3
shri ram apartments                               3
piedmont taksila heights                          3
dhoot time residency                              3
whiteland blissville                              3
sidhartha ncr greens                              3
sunischit apartments                              3
dlf belvedere towers                              3
pyramid elite                                     3
dlf the grove                                     3
shri banke bihari society                         3
apex our homes                                    3
guru gram haryana cghs                            3
sapphire eighty three                             3
the roselia 2                                     3
pivotal riddhi siddhi                             3
mahindra aura                                     3
spaze privy at                                    3
aipl club residences                              3
brisk lumbini terrace homes                       3
suncity platinum towers                           3
shree arihant apartment                           3
ss almeria                                        3
smriti apartment                                  3
sare green parc 2                                 3
siddhartha apartment                              3
conscient habitat                                 3
tulip white                                       3
sukhshanti apartment                              3
unitech heritage city                             3
raheja sampada                                    3
dlf carlton estate                                3
rof aalayas                                       2
samaspurkunj                                      2
ambience caitriona                                2
m3m sky lofts                                     2
emaar mgf emerald floors                          2
signature global the millennia 3                  2
dlf the crest                                     2
aqua front towers                                 2
ss residency                                      2
professors enclave cghs                           2
residency grand                                   2
dlf the icon                                      2
my home                                           2
bptp mansions park prime                          2
orchid island                                     2
m3m ikonic                                        2
vipul belmonte                                    2
emaar mgf the enclave                             2
ganga apartment                                   2
bptp amstoria                                     2
suncity avenue                                    2
dlf the belaire                                   2
adani aangan galleria                             2
the penthouses at the hibiscus                    2
ss hibiscus                                       2
park royal apartment                              2
tulsiani easy in homes                            2
viridian the plaza 106                            2
ardee city                                        2
tulip leaf                                        2
vatika emilia floors                              2
green campus chs                                  2
oriental valley chs                               2
emaar mgf palm studios                            2
suposhaa smartworld orchard                       2
supertech hilltown                                2
paras irene                                       2
mittal surya vihar                                2
awho shanti vihar                                 2
surendra avenue 69                                2
mapsko paradise                                   2
element one service                               2
m3m urbana                                        2
m3m latitude                                      2
pioneer urban presidia                            2
jammu and kashmir bank employees cghs             2
sahara grace                                      2
elan the presidential                             2
ansal heights                                     2
bptp freedom park life                            2
apartment                                         2
lagoon apartment                                  2
vipul world floors                                2
the close south                                   2
milan cghs 9                                      2
breeze global heights                             2
raheja atlantis                                   2
housing board colony                              2
mahindra luminare                                 2
supertech hill town                               2
suncity heights                                   2
shapoorji pallonji joyville                       2
landmark the residency                            2
puri the aravallis                                2
vasant appartments                                2
maruti vihar                                      2
central park 2 bellevue                           2
dlf city                                          2
silverglades hightown residences                  2
nbcc heights                                      2
shree shyam residency                             2
sidhivinayak apartments                           2
bestech spa signature                             2
vatika inxt floors                                2
bptp pedestal                                     2
today callidora                                   2
palam vihar society                               2
raheja vanya                                      2
ramprastha city                                   2
om appartments                                    2
ramprastha the atrium                             2
lavanya apartments                                2
godrej nature plus serenity                       2
suncity avenue 76                                 2
cghs airport apartment                            2
ansal api esencia                                 2
ansal api celebrity suites                        2
shyam apartment                                   2
tulip orange                                      2
mrg world ultimus                                 2
tulip yellow                                      1
ashray apartment                                  1
surbhi apartment                                  1
ansal height 86                                   1
malibu towers                                     1
whiteland the aspen                               1
espire south                                      1
the castle society                                1
park view apartments                              1
ansal plaza                                       1
raheja vedas                                      1
dnha group housing society                        1
kibithu villas                                    1
supertech new soft launch                         1
511 sarahah tower                                 1
antriksh green                                    1
new colony, gurgaon                               1
bsf chs                                           1
dlf 3 apartment                                   1
cghs hewo apartments                              1
kamal residence                                   1
ansal sushant residency                           1
krishna appartment                                1
belgravia resort residences                       1
bptp park generations                             1
raheja the vedaanta floors                        1
g l s arawali homes                               1
emaar the palm drive                              1
adarsh nagar                                      1
nul                                               1
godrej aria , sector 79 , gurgaon                 1
earth copia                                       1
bhemerlei                                         1
city shri ram apartments 1                        1
nan                                               1
ansals highland park                              1
ild grand centra                                  1
sobha smriti apartments                           1
ashok vihar phase 2                               1
central park flower valley cerise floors          1
palam vihar extension west zone rwa               1
lord krishna                                      1

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
df['price'].value_counts()

price
1.25 Crore          79
1.1 Crore           61
1.4 Crore           60
1.5 Crore           59
1.2 Crore           59
90 Lac              58
1.3 Crore           57
95 Lac              53
2 Crore             51
1.75 Crore          47
1 Crore             46
1.6 Crore           43
1.35 Crore          41
1.55 Crore          40
1.9 Crore           40
75 Lac              38
1.65 Crore          38
1.8 Crore           37
1.7 Crore           37
80 Lac              36
2.2 Crore           34
50 Lac              33
1.15 Crore          33
1.45 Crore          31
85 Lac              31
1.05 Crore          30
2.5 Crore           29
60 Lac              29
40 Lac              29
2.1 Crore           26
45 Lac              26
65 Lac              25
35 Lac              23
2.35 Crore          23
1.85 Crore          23
3 Crore             22
70 Lac              21
55 Lac              20
2.25 Crore          20
3.5 Crore           19
2.4 Crore           18
2.3 Crore           18
30 Lac              17
2.65 Crore          16
2.6 Crore           15
1.38 Crore          15
2.45 Crore          14
3.4 Crore           14
2.15 Crore          14
1.32 Crore          13
3.25 Crore          13
78 Lac              13
92 Lac              13
82 Lac              13
38 Lac              13
2.7 Crore           13
1.95 Crore          12
1.42 Crore          12
5 Crore             12
42 Lac              12
2.8 Crore           12
88 Lac              11
32 Lac              11
25 Lac              11
1.08 Crore          11
Price on Request    11
28 Lac              10
1.28 Crore          10
87 Lac              10
26 Lac              10
1.78 Crore          10
1.12 Crore          10
2.55 Crore          10
1.68 Crore           9
3.45 Crore           9
36 Lac               9
22 Lac               9
2.05 Crore           9
4 Crore              9
1.72 Crore           9
99 Lac               9
2.85 Crore           9
27 Lac               8
1.76 Crore           8
98 Lac               8
1.18 Crore           8
1.26 Crore           8
1.54 Crore           8
4.25 Crore           8
2.75 Crore           8
3.2 Crore            8
6 Crore              8
48 Lac               8
6.5 Crore            8
20 Lac               8
56 Lac               8
86 Lac               8
1.36 Crore           7
1.27 Crore           7
97 Lac               7
3.7 Crore            7
1.19 Crore           7
3.3 Crore            7
72 Lac               7
2.9 Crore            7
1.29 Crore           7
46 Lac               7
39 Lac               7
1.02 Crore           7
1.99 Crore           7
79 Lac               7
1.59 Crore           6
43 Lac               6
1.49 Crore           6
1.01 Crore           6
2.95 Crore           6
3.9 Crore            6
96 Lac               6
3.65 Crore           6
5.5 Crore            6
1.07 Crore           6
1.98 Crore           6
21 Lac               6
54 Lac               6
1.39 Crore           6
3.35 Crore           6
1.13 Crore           6
71.5 Lac             6
37 Lac               6
4.1 Crore            6
1.34 Crore           6
3.05 Crore           6
1.14 Crore           6
1.16 Crore           6
1.51 Crore           6
1.24 Crore           5
1.33 Crore           5
1.17 Crore           5
2.22 Crore           5
6.75 Crore           5
1.91 Crore           5
1.82 Crore           5
2.78 Crore           5
1.69 Crore           5
1.44 Crore           5
49 Lac               5
3.75 Crore           5
1.92 Crore           5
1.43 Crore           5
66 Lac               5
2.29 Crore           5
1.79 Crore           5
93 Lac               5
1.62 Crore           5
1.83 Crore           5
1.93 Crore           5
4.5 Crore            5
64 Lac               5
2.12 Crore           5
29 Lac               5
24 Lac               5
1.47 Crore           5
68 Lac               5
1.64 Crore           4
2.09 Crore           4
1.37 Crore           4
5.25 Crore           4
3.6 Crore            4
4.3 Crore            4
5.6 Crore            4
1.22 Crore           4
58 Lac               4
4.85 Crore           4
62 Lac               4
1.23 Crore           4
1.77 Crore           4
41.5 Lac             4
1.52 Crore           4
28.5 Lac             4
1.73 Crore           4
33 Lac               4
7 Crore              4
1.31 Crore           4
36.5 Lac             4
1.48 Crore           4
5.9 Crore            4
3.95 Crore           4
6.15 Crore           4
73 Lac               4
1.58 Crore           4
1.71 Crore           4
89 Lac               4
67 Lac               4
31 Lac               4
1.66 Crore           4
74 Lac               4
3.1 Crore            4
2.24 Crore           3
83 Lac               3
72.5 Lac             3
47 Lac               3
2.36 Crore           3
1.21 Crore           3
1.04 Crore           3
4.75 Crore           3
2.03 Crore           3
3.8 Crore            3
64.5 Lac             3
91 Lac               3
5.8 Crore            3
4.8 Crore            3
1.67 Crore           3
2.51 Crore           3
3.49 Crore           3
2.01 Crore           3
2.08 Crore           3
51 Lac               3
52 Lac               3
84 Lac               3
69 Lac               3
1.57 Crore           3
1.41 Crore           3
3.15 Crore           3
2.79 Crore           3
3.85 Crore           3
2.28 Crore           3
34 Lac               3
1.63 Crore           3
94 Lac               3
1.09 Crore           3
4.2 Crore            3
1.88 Crore           3
2.33 Crore           3
2.23 Crore           2
1.46 Crore           2
77.5 Lac             2
53.5 Lac             2
4.49 Crore           2
2.58 Crore           2
6.2 Crore            2
8.5 Crore            2
2.14 Crore           2
27.1 Lac             2
53 Lac               2
2.52 Crore           2
8 Crore              2
2.41 Crore           2
2.57 Crore           2
56.2 Lac             2
3.55 Crore           2
1.87 Crore           2
3.32 Crore           2
3.21 Crore           2
4.6 Crore            2
4.26 Crore           2
2.13 Crore           2
2.02 Crore           2
5.2 Crore            2
14 Crore             2
2.87 Crore           2
2.99 Crore           2
2.26 Crore           2
1.56 Crore           2
5.7 Crore            2
52.56 Lac            2
87.5 Lac             2
71 Lac               2
3.29 Crore           2
59 Lac               2
2.91 Crore           2
31.5 Lac             2
41 Lac               2
98.5 Lac             2
2.17 Crore           2
25.5 Lac             2
4.55 Crore           2
7.5 Crore            2
27.75 Lac            2
4.45 Crore           2
4.7 Crore            2
2.04 Crore           2
11 Crore             2
88.5 Lac             2
54.8 Lac             1
63.4 Lac             1
82.5 Lac             1
3.78 Crore           1
2.06 Crore           1
2.07 Crore           1
3.98 Crore           1
7.4 Crore            1
4.02 Crore           1
2.64 Crore           1
44 Lac               1
37.1 Lac             1
97.5 Lac             1
2.38 Crore           1
2.49 Crore           1
97.04 Lac            1
98.88 Lac            1
2.32 Crore           1
4.21 Crore           1
4.16 Crore           1
15 Crore             1
4.52 Crore           1
89.77 Lac            1
73.53 Lac            1
26.5 Lac             1
26.9 Lac             1
1.84 Crore           1
8.44 Crore           1
68.85 Lac            1
39.5 Lac             1
13.2 Crore           1
2.92 Crore           1
61 Lac               1
64.45 Lac            1
2.69 Crore           1
3.99 Crore           1
2.96 Crore           1
57 Lac               1
95.5 Lac             1
37.5 Lac             1
96.07 Lac            1
94.5 Lac             1
29.8 Lac             1
19 Lac               1
88.4 Lac             1
6.02 Crore           1
32.5 Lac             1
7.9 Crore            1
70.85 Lac            1
3.23 Crore           1
40.3 Lac             1
3.72 Crore           1
94.99 Lac            1
1.86 Crore           1
2.54 Crore           1
9 Crore              1
7.52 Crore           1
85.75 Lac            1
87.99 Lac            1
86.99 Lac            1
9.95 Crore           1
9.2 Crore            1
86.92 Lac            1
49.5 Lac             1
16 Lac               1
2.44 Crore           1
2.86 Crore           1
1.97 Crore           1
1.53 Crore           1
7.8 Crore            1
4.4 Crore            1
1.74 Crore           1
2.72 Crore           1
5.31 Crore           1
3.19 Crore           1
4.63 Crore           1
2.98 Crore           1
66.99 Lac            1
4.78 Crore           1
6.16 Crore           1
5.3 Crore            1
2.21 Crore           1
2.63 Crore           1
89.5 Lac             1
2.48 Crore           1
99.5 Lac             1
3.83 Crore           1
95.75 Lac            1
3.46 Crore           1
5.4 Crore            1
55.6 Lac             1
4.95 Crore           1
54.99 Lac            1
2.82 Crore           1
7.15 Crore           1
6.25 Crore           1
29.99 Lac            1
23 Lac               1
31.75 Lac            1
3.87 Crore           1
29.5 Lac             1
3.67 Crore           1
8.25 Crore           1
2.37 Crore           1
4.67 Crore           1
3.39 Crore           1
3.63 Crore           1
2.34 Crore           1
3.79 Crore           1
5.49 Crore           1
6.3 Crore            1
11.25 Crore          1
98.1 Lac             1
55.5 Lac             1
9.3 Crore            1
2.77 Crore           1
2.11 Crore           1
6.1 Crore            1
5.75 Crore           1
10 Crore             1
24.5 Lac             1
17.5 Lac             1
20.5 Lac             1
47.5 Lac             1
42.5 Lac             1
1.11 Crore           1
2.61 Crore           1
65.5 Lac             1
53.2 Lac             1
90.5 Lac             1
52.5 Lac             1
2.62 Crore           1
4.86 Crore           1
5.15 Crore           1
1.06 Crore           1
26.1 Lac             1
81 Lac               1
8.35 Crore           1
6.44 Crore           1
7.56 Crore           1
4.79 Crore           1
2.97 Crore           1
94.25 Lac            1
80.5 Lac             1
93.75 Lac            1
85.5 Lac             1
68.5 Lac             1
79.9 Lac             1
71.2 Lac             1
27.5 Lac             1
23.5 Lac             1
35.5 Lac             1
4.94 Crore           1
10.75 Crore          1
9.14 Crore           1
62.5 Lac             1
Name: count, dtype: int64

In [ ]:
df[df['price'] == 'Price on Request']

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
25,5 BHK Flat in Sector 1 Gurgaon,the new people apartments,Price on Request,NaN,Built Up area: 4500 (418.06 sq.m.),5,1,0,NaN,"Sector 1, Sector 1 Gurgaon, Gurgaon, Haryana",Ground of 1 Floors,NaN,undefined,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...",Best in class property available at sector 1 l...,NaN,NaN,NaN
1645,4 BHK Flat in Sector 50 Gurgaon,ss hibiscus,Price on Request,NaN,Carpet area: 4800 (445.93 sq.m.),4,4,3,Servant Room,"Sector 50 Gurgaon, Gurgaon, Haryana",7th of 18 Floors,East,5 to 10 Year Old,"['Baani Square', 'SS Plaza', 'Good Earth City ...",4bedroom 4800sq.Ft middle floor apartment avai...,"['4 Fan', '8 Light', 'No AC', 'No Bed', 'No Ch...","['Lift(s)', 'Water purifier', 'Swimming Pool',...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
1973,1 BHK Flat in Sector 31 Gurgaon,raheja atlantis,Price on Request,NaN,Carpet area: 650 (60.39 sq.m.),1,1,1,"Pooja Room,Study Room,Servant Room","Yes, Sector 31 Gurgaon, Gurgaon, Haryana",3rd of 15 Floors,East,0 to 1 Year Old,"['Huda Metro Station', 'Reliance Fresh, Indira...",It is my property and good condition and good ...,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4 out of 5', 'Construction4 out of..."
2055,2 BHK Flat in Sector 79 Gurgaon,supertech araville,Price on Request,NaN,Built Up area: 1295 (120.31 sq.m.),2,2,0,NaN,"Sector 79, Sector 79 Gurgaon, Gurgaon, Haryana",15th of 15 Floors,NaN,undefined,NaN,"2 bath, unfurnished, 15th floor (Of 18), super...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle3 out of 5..."
2358,2 BHK Flat in Sector 37D Gurgaon,the millennia 2,Price on Request,NaN,Carpet area: 552 (51.28 sq.m.),2,1,1,NaN,"Sector 37D Gurgaon, Gurgaon, Haryana",13rd of 13 Floors,NaN,undefined,"['Shri Balaji Hospital and Trauma Center', 'Sh...","1 bath, unfurnished, 13th floor (Of 13), at se...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
2523,2 BHK Flat in Sector 95A Gurgaon,the roselia 2,Price on Request,NaN,Carpet area: 593 (55.09 sq.m.),2,2,2,NaN,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",14th of 14 Floors,NaN,undefined,NaN,Best in class property available at sector 95a...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4.5 out of..."
2550,3 BHK Flat in Sector-2 Sohna,supertech hilltown,Price on Request,NaN,Built Up area: 1720 (159.79 sq.m.),3,3,3,NaN,"Sohna Sector 2,gurgaon, Sector-2 Sohna, Gurgao...",4th of 4 Floors,North-East,undefined,NaN,"3 bath, unfurnished, 4th floor (Of 4), overloo...",NaN,NaN,NaN
2641,2 BHK Flat in Sector 95A Gurgaon,the roselia 2,Price on Request,NaN,Carpet area: 593 (55.09 sq.m.),2,2,2,NaN,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",14th of 14 Floors,NaN,undefined,NaN,Best in class property available at sector 95a...,NaN,NaN,"['Environment5 out of 5', 'Safety5 out of 5', ..."
2960,3 BHK Flat in Sector 104 Gurgaon,godrej summit,Price on Request,NaN,Super Built up area 1647(153.01 sq.m.)Carpet a...,3,3,3,NaN,"1402, Sector 104 Gurgaon, Gurgaon, Haryana",14th of 17 Floors,NaN,1 to 5 Year Old,"['MG Road Metro Station', 'The Esplanade Mall'...",We are the proud owners of this 3 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Management3 out of 5', 'Green Area4.5 out of..."
2973,4 BHK Flat in Gwal Pahari,krrish provence estate,Price on Request,NaN,Built Up area: 5800 (538.84 sq.m.),4,5,1,NaN,"Gwal Pahari, Gurgaon, Haryana",17th of 24 Floors,NaN,Under Construction,"['Tniy Toons School', 'Pathways School Gurgoan...",Residential apartment for sell.Located on 17th...,NaN,NaN,NaN
2974,4 BHK Flat in Sector 95 Gurgaon,sidhartha ncr one phase,Price on Request,NaN,Super Built up area 2354(218.69 sq.m.),4,4,4,NaN,"Sector 95 Gurgaon, Gurgaon, Haryana",Ground of 3 Floors,North,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","North facing entry, Very good layout, Excellen...",[],"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Management4 out of 5', 'Green Area4 out of 5..."

In [ ]:
df = df[df['price'] != 'Price on Request']

In [ ]:
def treat_price(price):
    if  type(price)== float:
      return price
    else:
      if 'Lac' in price:
       return round(float(price[0])/100,2)
      else:
        return round(float(price[0]),2)

In [ ]:
df['price']=df['price'].str.split(' ').apply(treat_price)

In [ ]:
df['price_per_sqft'].value_counts()

price_per_sqft
₹ 10,000/sq.ft.     19
₹ 8,000/sq.ft.      16
₹ 12,500/sq.ft.     16
₹ 6,666/sq.ft.      13
₹ 5,000/sq.ft.      13
₹ 7,500/sq.ft.      12
₹ 8,333/sq.ft.      12
₹ 6,000/sq.ft.      11
₹ 8,461/sq.ft.       9
₹ 12,000/sq.ft.      8
₹ 7,000/sq.ft.       8
₹ 9,000/sq.ft.       7
₹ 11,111/sq.ft.      6
₹ 5,500/sq.ft.       6
₹ 6,578/sq.ft.       6
₹ 8,928/sq.ft.       6
₹ 9,230/sq.ft.       6
₹ 11,500/sq.ft.      6
₹ 16,000/sq.ft.      5
₹ 6,500/sq.ft.       5
₹ 14,242/sq.ft.      5
₹ 8,888/sq.ft.       5
₹ 10,714/sq.ft.      5
₹ 8,571/sq.ft.       5
₹ 7,142/sq.ft.       5
₹ 5,556/sq.ft.       5
₹ 7,692/sq.ft.       5
₹ 4,444/sq.ft.       5
₹ 8,205/sq.ft.       5
₹ 5,600/sq.ft.       5
₹ 11,428/sq.ft.      5
₹ 4,615/sq.ft.       5
₹ 7,407/sq.ft.       5
₹ 5,384/sq.ft.       5
₹ 7,641/sq.ft.       5
₹ 4,666/sq.ft.       5
₹ 9,822/sq.ft.       4
₹ 8,432/sq.ft.       4
₹ 4,500/sq.ft.       4
₹ 6,250/sq.ft.       4
₹ 8,043/sq.ft.       4
₹ 8,500/sq.ft.       4
₹ 4,854/sq.ft.       4
₹ 11,666/sq.ft.      4
₹ 16,666/sq.ft.      4
₹ 13,636/sq.ft.      4
₹ 15,000/sq.ft.      4
₹ 8,474/sq.ft.       4
₹ 4,687/sq.ft.       4
₹ 8,445/sq.ft.       4
₹ 8,784/sq.ft.       4
₹ 13,750/sq.ft.      4
₹ 7,317/sq.ft.       4
₹ 15,384/sq.ft.      4
₹ 4,814/sq.ft.       4
₹ 7,496/sq.ft.       4
₹ 5,660/sq.ft.       4
₹ 8,108/sq.ft.       4
₹ 8,139/sq.ft.       4
₹ 13,913/sq.ft.      4
₹ 6,735/sq.ft.       4
₹ 8,358/sq.ft.       4
₹ 7,272/sq.ft.       4
₹ 9,090/sq.ft.       4
₹ 7,250/sq.ft.       4
₹ 10,383/sq.ft.      4
₹ 8,163/sq.ft.       4
₹ 10,416/sq.ft.      4
₹ 7,812/sq.ft.       4
₹ 14,418/sq.ft.      4
₹ 9,210/sq.ft.       4
₹ 8,484/sq.ft.       4
₹ 8,787/sq.ft.       4
₹ 8,606/sq.ft.       3
₹ 5,238/sq.ft.       3
₹ 9,900/sq.ft.       3
₹ 9,473/sq.ft.       3
₹ 8,215/sq.ft.       3
₹ 9,615/sq.ft.       3
₹ 8,181/sq.ft.       3
₹ 5,397/sq.ft.       3
₹ 5,856/sq.ft.       3
₹ 8,620/sq.ft.       3
₹ 10,204/sq.ft.      3
₹ 5,735/sq.ft.       3
₹ 7,150/sq.ft.       3
₹ 8,080/sq.ft.       3
₹ 5,833/sq.ft.       3
₹ 6,387/sq.ft.       3
₹ 7,541/sq.ft.       3
₹ 7,179/sq.ft.       3
₹ 14,254/sq.ft.      3
₹ 5,319/sq.ft.       3
₹ 6,470/sq.ft.       3
₹ 7,586/sq.ft.       3
₹ 6,921/sq.ft.       3
₹ 5,878/sq.ft.       3
₹ 7,750/sq.ft.       3
₹ 8,222/sq.ft.       3
₹ 6,476/sq.ft.       3
₹ 13,392/sq.ft.      3
₹ 8,886/sq.ft.       3
₹ 8,450/sq.ft.       3
₹ 16,470/sq.ft.      3
₹ 8,389/sq.ft.       3
₹ 7,948/sq.ft.       3
₹ 6,667/sq.ft.       3
₹ 4,105/sq.ft.       3
₹ 6,818/sq.ft.       3
₹ 5,325/sq.ft.       3
₹ 8,750/sq.ft.       3
₹ 4,800/sq.ft.       3
₹ 9,904/sq.ft.       3
₹ 7,083/sq.ft.       3
₹ 8,078/sq.ft.       3
₹ 7,865/sq.ft.       3
₹ 10,139/sq.ft.      3
₹ 14,000/sq.ft.      3
₹ 7,400/sq.ft.       3
₹ 13,000/sq.ft.      3
₹ 6,542/sq.ft.       3
₹ 6,644/sq.ft.       3
₹ 9,972/sq.ft.       3
₹ 8,148/sq.ft.       3
₹ 16,969/sq.ft.      3
₹ 14,430/sq.ft.      3
₹ 11,363/sq.ft.      3
₹ 10,500/sq.ft.      3
₹ 7,302/sq.ft.       3
₹ 11,000/sq.ft.      3
₹ 13,870/sq.ft.      3
₹ 9,011/sq.ft.       3
₹ 5,555/sq.ft.       3
₹ 7,056/sq.ft.       3
₹ 10,638/sq.ft.      3
₹ 8,604/sq.ft.       3
₹ 6,421/sq.ft.       3
₹ 8,400/sq.ft.       3
₹ 7,549/sq.ft.       3
₹ 6,404/sq.ft.       3
₹ 7,954/sq.ft.       3
₹ 4,210/sq.ft.       3
₹ 9,500/sq.ft.       3
₹ 10,555/sq.ft.      3
₹ 7,467/sq.ft.       3
₹ 6,086/sq.ft.       3
₹ 4,513/sq.ft.       3
₹ 8,532/sq.ft.       3
₹ 8,897/sq.ft.       2
₹ 14,237/sq.ft.      2
₹ 6,333/sq.ft.       2
₹ 6,315/sq.ft.       2
₹ 6,053/sq.ft.       2
₹ 4,856/sq.ft.       2
₹ 6,987/sq.ft.       2
₹ 13,076/sq.ft.      2
₹ 5,056/sq.ft.       2
₹ 8,433/sq.ft.       2
₹ 8,252/sq.ft.       2
₹ 11,412/sq.ft.      2
₹ 20,687/sq.ft.      2
₹ 12,212/sq.ft.      2
₹ 13,108/sq.ft.      2
₹ 5,896/sq.ft.       2
₹ 18,271/sq.ft.      2
₹ 8,412/sq.ft.       2
₹ 6,373/sq.ft.       2
₹ 9,074/sq.ft.       2
₹ 6,153/sq.ft.       2
₹ 16,985/sq.ft.      2
₹ 8,159/sq.ft.       2
₹ 6,422/sq.ft.       2
₹ 8,974/sq.ft.       2
₹ 5,513/sq.ft.       2
₹ 4,327/sq.ft.       2
₹ 7,765/sq.ft.       2
₹ 6,402/sq.ft.       2
₹ 8,632/sq.ft.       2
₹ 15,263/sq.ft.      2
₹ 16,747/sq.ft.      2
₹ 9,020/sq.ft.       2
₹ 6,896/sq.ft.       2
₹ 8,290/sq.ft.       2
₹ 9,978/sq.ft.       2
₹ 7,174/sq.ft.       2
₹ 8,519/sq.ft.       2
₹ 8,024/sq.ft.       2
₹ 11,715/sq.ft.      2
₹ 4,857/sq.ft.       2
₹ 3,911/sq.ft.       2
₹ 4,909/sq.ft.       2
₹ 8,670/sq.ft.       2
₹ 6,938/sq.ft.       2
₹ 4,307/sq.ft.       2
₹ 15,551/sq.ft.      2
₹ 8,536/sq.ft.       2
₹ 8,600/sq.ft.       2
₹ 7,945/sq.ft.       2
₹ 10,936/sq.ft.      2
₹ 10,516/sq.ft.      2
₹ 16,858/sq.ft.      2
₹ 8,410/sq.ft.       2
₹ 8,453/sq.ft.       2
₹ 13,430/sq.ft.      2
₹ 16,608/sq.ft.      2
₹ 5,649/sq.ft.       2
₹ 21,538/sq.ft.      2
₹ 9,854/sq.ft.       2
₹ 19,000/sq.ft.      2
₹ 7,350/sq.ft.       2
₹ 6,406/sq.ft.       2
₹ 11,125/sq.ft.      2
₹ 15,294/sq.ft.      2
₹ 13,991/sq.ft.      2
₹ 6,353/sq.ft.       2
₹ 8,279/sq.ft.       2
₹ 200,000/sq.ft.     2
₹ 8,324/sq.ft.       2
₹ 14,285/sq.ft.      2
₹ 5,528/sq.ft.       2
₹ 11,505/sq.ft.      2
₹ 8,903/sq.ft.       2
₹ 7,359/sq.ft.       2
₹ 9,922/sq.ft.       2
₹ 6,049/sq.ft.       2
₹ 9,797/sq.ft.       2
₹ 5,671/sq.ft.       2
₹ 9,743/sq.ft.       2
₹ 8,835/sq.ft.       2
₹ 7,610/sq.ft.       2
₹ 5,982/sq.ft.       2
₹ 5,839/sq.ft.       2
₹ 11,765/sq.ft.      2
₹ 7,716/sq.ft.       2
₹ 17,039/sq.ft.      2
₹ 8,846/sq.ft.       2
₹ 4,761/sq.ft.       2
₹ 6,465/sq.ft.       2
₹ 14,785/sq.ft.      2
₹ 12,022/sq.ft.      2
₹ 8,376/sq.ft.       2
₹ 19,767/sq.ft.      2
₹ 6,839/sq.ft.       2
₹ 6,141/sq.ft.       2
₹ 11,336/sq.ft.      2
₹ 7,908/sq.ft.       2
₹ 6,679/sq.ft.       2
₹ 7,058/sq.ft.       2
₹ 9,007/sq.ft.       2
₹ 8,733/sq.ft.       2
₹ 9,672/sq.ft.       2
₹ 15,416/sq.ft.      2
₹ 9,025/sq.ft.       2
₹ 8,834/sq.ft.       2
₹ 6,313/sq.ft.       2
₹ 8,305/sq.ft.       2
₹ 11,694/sq.ft.      2
₹ 5,150/sq.ft.       2
₹ 9,620/sq.ft.       2
₹ 9,642/sq.ft.       2
₹ 5,177/sq.ft.       2
₹ 6,647/sq.ft.       2
₹ 6,825/sq.ft.       2
₹ 9,139/sq.ft.       2
₹ 11,727/sq.ft.      2
₹ 10,489/sq.ft.      2
₹ 15,195/sq.ft.      2
₹ 5,929/sq.ft.       2
₹ 6,254/sq.ft.       2
₹ 14,303/sq.ft.      2
₹ 5,820/sq.ft.       2
₹ 14,683/sq.ft.      2
₹ 9,791/sq.ft.       2
₹ 5,980/sq.ft.       2
₹ 13,343/sq.ft.      2
₹ 5,828/sq.ft.       2
₹ 8,283/sq.ft.       2
₹ 7,223/sq.ft.       2
₹ 6,209/sq.ft.       2
₹ 8,411/sq.ft.       2
₹ 6,774/sq.ft.       2
₹ 6,571/sq.ft.       2
₹ 6,029/sq.ft.       2
₹ 5,808/sq.ft.       2
₹ 7,490/sq.ft.       2
₹ 12,444/sq.ft.      2
₹ 5,252/sq.ft.       2
₹ 7,097/sq.ft.       2
₹ 13,928/sq.ft.      2
₹ 7,850/sq.ft.       2
₹ 7,817/sq.ft.       2
₹ 6,076/sq.ft.       2
₹ 5,564/sq.ft.       2
₹ 10,237/sq.ft.      2
₹ 4,080/sq.ft.       2
₹ 11,250/sq.ft.      2
₹ 10,545/sq.ft.      2
₹ 9,589/sq.ft.       2
₹ 10,651/sq.ft.      2
₹ 9,433/sq.ft.       2
₹ 9,565/sq.ft.       2
₹ 7,863/sq.ft.       2
₹ 5,725/sq.ft.       2
₹ 6,243/sq.ft.       2
₹ 15,454/sq.ft.      2
₹ 7,751/sq.ft.       2
₹ 7,758/sq.ft.       2
₹ 15,500/sq.ft.      2
₹ 9,950/sq.ft.       2
₹ 10,553/sq.ft.      2
₹ 11,574/sq.ft.      2
₹ 5,674/sq.ft.       2
₹ 16,363/sq.ft.      2
₹ 5,683/sq.ft.       2
₹ 9,550/sq.ft.       2
₹ 5,517/sq.ft.       2
₹ 8,756/sq.ft.       2
₹ 8,947/sq.ft.       2
₹ 9,482/sq.ft.       2
₹ 5,599/sq.ft.       2
₹ 4,745/sq.ft.       2
₹ 8,237/sq.ft.       2
₹ 19,882/sq.ft.      2
₹ 6,655/sq.ft.       2
₹ 7,449/sq.ft.       2
₹ 14,615/sq.ft.      2
₹ 9,306/sq.ft.       2
₹ 7,608/sq.ft.       2
₹ 6,692/sq.ft.       2
₹ 10,699/sq.ft.      2
₹ 9,022/sq.ft.       2
₹ 12,012/sq.ft.      2
₹ 9,105/sq.ft.       2
₹ 7,185/sq.ft.       2
₹ 7,878/sq.ft.       2
₹ 19,747/sq.ft.      2
₹ 3,695/sq.ft.       2
₹ 6,588/sq.ft.       2
₹ 9,128/sq.ft.       2
₹ 5,825/sq.ft.       2
₹ 9,742/sq.ft.       2
₹ 6,382/sq.ft.       2
₹ 5,588/sq.ft.       2
₹ 7,987/sq.ft.       2
₹ 8,424/sq.ft.       2
₹ 5,454/sq.ft.       2
₹ 5,658/sq.ft.       2
₹ 6,455/sq.ft.       2
₹ 5,744/sq.ft.       2
₹ 8,100/sq.ft.       2
₹ 8,294/sq.ft.       2
₹ 8,457/sq.ft.       2
₹ 8,031/sq.ft.       2
₹ 7,014/sq.ft.       2
₹ 10,596/sq.ft.      2
₹ 8,518/sq.ft.       2
₹ 3,477/sq.ft.       2
₹ 12,222/sq.ft.      2
₹ 18,518/sq.ft.      2
₹ 13,709/sq.ft.      2
₹ 8,814/sq.ft.       2
₹ 6,428/sq.ft.       2
₹ 5,100/sq.ft.       2
₹ 11,992/sq.ft.      2
₹ 6,811/sq.ft.       2
₹ 13,270/sq.ft.      2
₹ 5,284/sq.ft.       2
₹ 10,601/sq.ft.      2
₹ 7,846/sq.ft.       2
₹ 7,297/sq.ft.       2
₹ 11,333/sq.ft.      2
₹ 10,666/sq.ft.      2
₹ 6,983/sq.ft.       2
₹ 11,627/sq.ft.      2
₹ 7,200/sq.ft.       2
₹ 9,259/sq.ft.       2
₹ 5,424/sq.ft.       2
₹ 8,972/sq.ft.       2
₹ 6,024/sq.ft.       2
₹ 7,585/sq.ft.       2
₹ 9,600/sq.ft.       2
₹ 10,384/sq.ft.      2
₹ 4,820/sq.ft.       2
₹ 9,876/sq.ft.       2
₹ 9,909/sq.ft.       2
₹ 13,500/sq.ft.      2
₹ 6,686/sq.ft.       2
₹ 7,857/sq.ft.       2
₹ 6,739/sq.ft.       2
₹ 6,325/sq.ft.       2
₹ 6,061/sq.ft.       2
₹ 6,429/sq.ft.       2
₹ 5,786/sq.ft.       2
₹ 15,998/sq.ft.      2
₹ 7,727/sq.ft.       2
₹ 5,189/sq.ft.       2
₹ 8,075/sq.ft.       2
₹ 9,851/sq.ft.       2
₹ 6,950/sq.ft.       2
₹ 41,245/sq.ft.      2
₹ 6,510/sq.ft.       2
₹ 9,286/sq.ft.       2
₹ 7,574/sq.ft.       2
₹ 5,797/sq.ft.       2
₹ 5,038/sq.ft.       2
₹ 5,714/sq.ft.       2
₹ 15,151/sq.ft.      2
₹ 10,531/sq.ft.      2
₹ 6,200/sq.ft.       2
₹ 6,377/sq.ft.       2
₹ 5,111/sq.ft.       2
₹ 5,882/sq.ft.       2
₹ 10,526/sq.ft.      2
₹ 6,538/sq.ft.       2
₹ 6,420/sq.ft.       2
₹ 8,609/sq.ft.       2
₹ 6,217/sq.ft.       2
₹ 10,018/sq.ft.      2
₹ 7,530/sq.ft.       2
₹ 6,506/sq.ft.       2
₹ 7,627/sq.ft.       2
₹ 6,967/sq.ft.       2
₹ 9,027/sq.ft.       2
₹ 8,006/sq.ft.       2
₹ 6,789/sq.ft.       2
₹ 6,569/sq.ft.       2
₹ 5,405/sq.ft.       2
₹ 13,769/sq.ft.      2
₹ 11,755/sq.ft.      2
₹ 6,593/sq.ft.       2
₹ 7,780/sq.ft.       2
₹ 7,782/sq.ft.       2
₹ 9,146/sq.ft.       2
₹ 7,396/sq.ft.       2
₹ 6,111/sq.ft.       2
₹ 13,383/sq.ft.      2
₹ 11,529/sq.ft.      2
₹ 9,062/sq.ft.       2
₹ 5,641/sq.ft.       2
₹ 8,618/sq.ft.       2
₹ 5,521/sq.ft.       2
₹ 11,724/sq.ft.      2
₹ 6,812/sq.ft.       2
₹ 5,128/sq.ft.       2
₹ 8,582/sq.ft.       2
₹ 18,000/sq.ft.      2
₹ 8,053/sq.ft.       2
₹ 10,599/sq.ft.      2
₹ 9,449/sq.ft.       2
₹ 6,338/sq.ft.       2
₹ 8,524/sq.ft.       2
₹ 9,166/sq.ft.       2
₹ 8,035/sq.ft.       2
₹ 8,036/sq.ft.       2
₹ 8,611/sq.ft.       2
₹ 8,504/sq.ft.       2
₹ 6,178/sq.ft.       2
₹ 8,310/sq.ft.       2
₹ 6,985/sq.ft.       2
₹ 14,545/sq.ft.      2
₹ 14,257/sq.ft.      2
₹ 5,463/sq.ft.       2
₹ 10,370/sq.ft.      2
₹ 6,189/sq.ft.       2
₹ 9,263/sq.ft.       2
₹ 11,726/sq.ft.      2
₹ 7,631/sq.ft.       2
₹ 9,452/sq.ft.       2
₹ 8,166/sq.ft.       2
₹ 14,583/sq.ft.      2
₹ 4,000/sq.ft.       2
₹ 8,517/sq.ft.       2
₹ 8,072/sq.ft.       2
₹ 5,681/sq.ft.       2
₹ 12,250/sq.ft.      2
₹ 12,782/sq.ft.      2
₹ 9,182/sq.ft.       2
₹ 6,702/sq.ft.       2
₹ 9,135/sq.ft.       2
₹ 13,333/sq.ft.      2
₹ 9,677/sq.ft.       2
₹ 7,884/sq.ft.       2
₹ 14,478/sq.ft.      2
₹ 6,190/sq.ft.       2
₹ 6,859/sq.ft.       2
₹ 6,134/sq.ft.       2
₹ 11,028/sq.ft.      2
₹ 11,700/sq.ft.      2
₹ 6,206/sq.ft.       2
₹ 8,521/sq.ft.       2
₹ 6,927/sq.ft.       2
₹ 8,720/sq.ft.       2
₹ 6,551/sq.ft.       2
₹ 9,333/sq.ft.       2
₹ 7,825/sq.ft.       2
₹ 14,800/sq.ft.      2
₹ 58/sq.ft.          2
₹ 10,476/sq.ft.      2
₹ 7,796/sq.ft.       2
₹ 4,651/sq.ft.       2
₹ 6,722/sq.ft.       2
₹ 13,224/sq.ft.      2
₹ 13,281/sq.ft.      2
₹ 6,616/sq.ft.       2
₹ 8,206/sq.ft.       2
₹ 17,619/sq.ft.      2
₹ 5,291/sq.ft.       2
₹ 11,516/sq.ft.      2
₹ 5,899/sq.ft.       2
₹ 6,318/sq.ft.       2
₹ 5,614/sq.ft.       2
₹ 16,960/sq.ft.      2
₹ 7,391/sq.ft.       2
₹ 10,603/sq.ft.      2
₹ 6,597/sq.ft.       2
₹ 18,181/sq.ft.      2
₹ 14,214/sq.ft.      2
₹ 4,271/sq.ft.       2
₹ 7,248/sq.ft.       2
₹ 7,225/sq.ft.       2
₹ 12,777/sq.ft.      2
₹ 7,679/sq.ft.       1
₹ 7,931/sq.ft.       1
₹ 5,739/sq.ft.       1
₹ 8,095/sq.ft.       1
₹ 4,179/sq.ft.       1
₹ 10,306/sq.ft.      1
₹ 8,558/sq.ft.       1
₹ 10,309/sq.ft.      1
₹ 4,106/sq.ft.       1
₹ 6,077/sq.ft.       1
₹ 8,982/sq.ft.       1
₹ 13,953/sq.ft.      1
₹ 10,754/sq.ft.      1
₹ 10,924/sq.ft.      1
₹ 9,531/sq.ft.       1
₹ 13,921/sq.ft.      1
₹ 14,658/sq.ft.      1
₹ 18,688/sq.ft.      1
₹ 17,378/sq.ft.      1
₹ 8,124/sq.ft.       1
₹ 14,632/sq.ft.      1
₹ 9,696/sq.ft.       1
₹ 17,543/sq.ft.      1
₹ 15,262/sq.ft.      1
₹ 12,791/sq.ft.      1
₹ 6,554/sq.ft.       1
₹ 14,358/sq.ft.      1
₹ 9,236/sq.ft.       1
₹ 6,033/sq.ft.       1
₹ 15,560/sq.ft.      1
₹ 12,009/sq.ft.      1
₹ 14,603/sq.ft.      1
₹ 3,664/sq.ft.       1
₹ 5,813/sq.ft.       1
₹ 6,485/sq.ft.       1
₹ 8,494/sq.ft.       1
₹ 20,666/sq.ft.      1
₹ 12,272/sq.ft.      1
₹ 3,650/sq.ft.       1
₹ 22,222/sq.ft.      1
₹ 3,713/sq.ft.       1
₹ 22,346/sq.ft.      1
₹ 11,209/sq.ft.      1
₹ 9,002/sq.ft.       1
₹ 9,912/sq.ft.       1
₹ 4,545/sq.ft.       1
₹ 6,194/sq.ft.       1
₹ 6,319/sq.ft.       1
₹ 15,102/sq.ft.      1
₹ 4,886/sq.ft.       1
₹ 9/sq.ft.           1
₹ 4,108/sq.ft.       1
₹ 5,296/sq.ft.       1
₹ 23,344/sq.ft.      1
₹ 15,124/sq.ft.      1
₹ 4,375/sq.ft.       1
₹ 6,849/sq.ft.       1
₹ 5,621/sq.ft.       1
₹ 8,986/sq.ft.       1
₹ 18,392/sq.ft.      1
₹ 6,881/sq.ft.       1
₹ 7,779/sq.ft.       1
₹ 7,164/sq.ft.       1
₹ 9,219/sq.ft.       1
₹ 4,971/sq.ft.       1
₹ 11,407/sq.ft.      1
₹ 11,497/sq.ft.      1
₹ 10,094/sq.ft.      1
₹ 4,219/sq.ft.       1
₹ 7,988/sq.ft.       1
₹ 11,074/sq.ft.      1
₹ 10,483/sq.ft.      1
₹ 9,076/sq.ft.       1
₹ 8,674/sq.ft.       1
₹ 14,783/sq.ft.      1
₹ 14,680/sq.ft.      1
₹ 10,408/sq.ft.      1
₹ 10,257/sq.ft.      1
₹ 10,017/sq.ft.      1
₹ 13,425/sq.ft.      1
₹ 10,031/sq.ft.      1
₹ 8,349/sq.ft.       1
₹ 7,917/sq.ft.       1
₹ 10,101/sq.ft.      1
₹ 6,272/sq.ft.       1
₹ 10,172/sq.ft.      1
₹ 20,707/sq.ft.      1
₹ 10,888/sq.ft.      1
₹ 11,094/sq.ft.      1
₹ 9,714/sq.ft.       1
₹ 11,854/sq.ft.      1
₹ 6,648/sq.ft.       1
₹ 13,936/sq.ft.      1
₹ 9,130/sq.ft.       1
₹ 591/sq.ft.         1
₹ 4,941/sq.ft.       1
₹ 3,671/sq.ft.       1
₹ 10,627/sq.ft.      1
₹ 7,066/sq.ft.       1
₹ 11,869/sq.ft.      1
₹ 7,227/sq.ft.       1
₹ 5,904/sq.ft.       1
₹ 17,271/sq.ft.      1
₹ 7,006/sq.ft.       1
₹ 9,264/sq.ft.       1
₹ 9,370/sq.ft.       1
₹ 13,522/sq.ft.      1
₹ 9,380/sq.ft.       1
₹ 10,452/sq.ft.      1
₹ 7,068/sq.ft.       1
₹ 6,256/sq.ft.       1
₹ 8,026/sq.ft.       1
₹ 8,953/sq.ft.       1
₹ 11,178/sq.ft.      1
₹ 12,489/sq.ft.      1
₹ 14,379/sq.ft.      1
₹ 4,729/sq.ft.       1
₹ 11,538/sq.ft.      1
₹ 7,561/sq.ft.       1
₹ 4,933/sq.ft.       1
₹ 6,176/sq.ft.       1
₹ 12,420/sq.ft.      1
₹ 7,293/sq.ft.       1
₹ 5,329/sq.ft.       1
₹ 6,751/sq.ft.       1
₹ 16,230/sq.ft.      1
₹ 11,559/sq.ft.      1
₹ 10,903/sq.ft.      1
₹ 9,519/sq.ft.       1
₹ 15,901/sq.ft.      1
₹ 5,950/sq.ft.       1
₹ 9,513/sq.ft.       1
₹ 6,778/sq.ft.       1
₹ 5,041/sq.ft.       1
₹ 8,554/sq.ft.       1
₹ 8,487/sq.ft.       1
₹ 7,654/sq.ft.       1
₹ 15,130/sq.ft.      1
₹ 8,622/sq.ft.       1
₹ 5,910/sq.ft.       1
₹ 10,578/sq.ft.      1
₹ 11,061/sq.ft.      1
₹ 4,587/sq.ft.       1
₹ 10,656/sq.ft.      1
₹ 7,360/sq.ft.       1
₹ 11,605/sq.ft.      1
₹ 5,590/sq.ft.       1
₹ 6,926/sq.ft.       1
₹ 10,134/sq.ft.      1
₹ 9,843/sq.ft.       1
₹ 11,190/sq.ft.      1
₹ 13,575/sq.ft.      1
₹ 8,120/sq.ft.       1
₹ 9,569/sq.ft.       1
₹ 14,795/sq.ft.      1
₹ 6,951/sq.ft.       1
₹ 11,944/sq.ft.      1
₹ 9,136/sq.ft.       1
₹ 14,267/sq.ft.      1
₹ 8,737/sq.ft.       1
₹ 4,927/sq.ft.       1
₹ 10,071/sq.ft.      1
₹ 6,905/sq.ft.       1
₹ 3,516/sq.ft.       1
₹ 6,346/sq.ft.       1
₹ 4,821/sq.ft.       1
₹ 9,583/sq.ft.       1
₹ 9,639/sq.ft.       1
₹ 9,252/sq.ft.       1
₹ 5,076/sq.ft.       1
₹ 13,480/sq.ft.      1
₹ 11,989/sq.ft.      1
₹ 8,052/sq.ft.       1
₹ 7,760/sq.ft.       1
₹ 8,707/sq.ft.       1
₹ 6,998/sq.ft.       1
₹ 10,773/sq.ft.      1
₹ 8,907/sq.ft.       1
₹ 8,920/sq.ft.       1
₹ 6,083/sq.ft.       1
₹ 6,113/sq.ft.       1
₹ 6,894/sq.ft.       1
₹ 7,321/sq.ft.       1
₹ 9,734/sq.ft.       1
₹ 4,869/sq.ft.       1
₹ 8,446/sq.ft.       1
₹ 7,547/sq.ft.       1
₹ 4,579/sq.ft.       1
₹ 5,443/sq.ft.       1
₹ 8,856/sq.ft.       1
₹ 8,840/sq.ft.       1
₹ 13,296/sq.ft.      1
₹ 8,111/sq.ft.       1
₹ 5,479/sq.ft.       1
₹ 4,931/sq.ft.       1
₹ 10,723/sq.ft.      1
₹ 7,714/sq.ft.       1
₹ 4,458/sq.ft.       1
₹ 7,769/sq.ft.       1
₹ 4,868/sq.ft.       1
₹ 8,040/sq.ft.       1
₹ 7,103/sq.ft.       1
₹ 5,931/sq.ft.       1
₹ 8,297/sq.ft.       1
₹ 8,790/sq.ft.       1
₹ 9,664/sq.ft.       1
₹ 11,923/sq.ft.      1
₹ 6,979/sq.ft.       1
₹ 11,386/sq.ft.      1
₹ 11,423/sq.ft.      1
₹ 15,360/sq.ft.      1
₹ 4,923/sq.ft.       1
₹ 6,159/sq.ft.       1
₹ 9,125/sq.ft.       1
₹ 8,557/sq.ft.       1
₹ 8,042/sq.ft.       1
₹ 8,734/sq.ft.       1
₹ 11,442/sq.ft.      1
₹ 13,984/sq.ft.      1
₹ 6,556/sq.ft.       1
₹ 4,404/sq.ft.       1
₹ 16,445/sq.ft.      1
₹ 7,262/sq.ft.       1
₹ 5,952/sq.ft.       1
₹ 6,562/sq.ft.       1
₹ 11,725/sq.ft.      1
₹ 5,965/sq.ft.       1
₹ 6,587/sq.ft.       1
₹ 7,010/sq.ft.       1
₹ 5,625/sq.ft.       1
₹ 10,418/sq.ft.      1
₹ 6,137/sq.ft.       1
₹ 11,600/sq.ft.      1
₹ 5,571/sq.ft.       1
₹ 7,171/sq.ft.       1
₹ 11,525/sq.ft.      1
₹ 15,982/sq.ft.      1
₹ 8,266/sq.ft.       1
₹ 14,838/sq.ft.      1
₹ 7,402/sq.ft.       1
₹ 5,958/sq.ft.       1
₹ 6,768/sq.ft.       1
₹ 8,700/sq.ft.       1
₹ 10,482/sq.ft.      1
₹ 5,413/sq.ft.       1
₹ 5,720/sq.ft.       1
₹ 4,778/sq.ft.       1
₹ 9,856/sq.ft.       1
₹ 11,963/sq.ft.      1
₹ 10,697/sq.ft.      1
₹ 7,453/sq.ft.       1
₹ 7,882/sq.ft.       1
₹ 8,802/sq.ft.       1
₹ 6,435/sq.ft.       1
₹ 10,058/sq.ft.      1
₹ 8,387/sq.ft.       1
₹ 7,872/sq.ft.       1
₹ 8,404/sq.ft.       1
₹ 11,741/sq.ft.      1
₹ 13,177/sq.ft.      1
₹ 7,951/sq.ft.       1
₹ 8,264/sq.ft.       1
₹ 10,205/sq.ft.      1
₹ 13,989/sq.ft.      1
₹ 11,654/sq.ft.      1
₹ 11,346/sq.ft.      1
₹ 8,123/sq.ft.       1
₹ 6,502/sq.ft.       1
₹ 11,251/sq.ft.      1
₹ 19,943/sq.ft.      1
₹ 20,995/sq.ft.      1
₹ 9,371/sq.ft.       1
₹ 17,729/sq.ft.      1
₹ 10,283/sq.ft.      1
₹ 9,701/sq.ft.       1
₹ 9,102/sq.ft.       1
₹ 9,459/sq.ft.       1
₹ 17,691/sq.ft.      1
₹ 4,637/sq.ft.       1
₹ 8,347/sq.ft.       1
₹ 10,491/sq.ft.      1
₹ 10,375/sq.ft.      1
₹ 9,016/sq.ft.       1
₹ 8,850/sq.ft.       1
₹ 10,163/sq.ft.      1
₹ 6,870/sq.ft.       1
₹ 11,920/sq.ft.      1
₹ 8,240/sq.ft.       1
₹ 6,552/sq.ft.       1
₹ 5,265/sq.ft.       1
₹ 10,004/sq.ft.      1
₹ 7,891/sq.ft.       1
₹ 11,276/sq.ft.      1
₹ 9,218/sq.ft.       1
₹ 2,666/sq.ft.       1
₹ 6,022/sq.ft.       1
₹ 8,970/sq.ft.       1
₹ 2,051/sq.ft.       1
₹ 6,914/sq.ft.       1
₹ 8,522/sq.ft.       1
₹ 10,815/sq.ft.      1
₹ 6,601/sq.ft.       1
₹ 9,745/sq.ft.       1
₹ 5,495/sq.ft.       1
₹ 4,478/sq.ft.       1
₹ 5,719/sq.ft.       1
₹ 7,604/sq.ft.       1
₹ 12,912/sq.ft.      1
₹ 13,126/sq.ft.      1
₹ 4,512/sq.ft.       1
₹ 5,777/sq.ft.       1
₹ 4,694/sq.ft.       1
₹ 6,598/sq.ft.       1
₹ 4,591/sq.ft.       1
₹ 14,652/sq.ft.      1
₹ 3,692/sq.ft.       1
₹ 6,185/sq.ft.       1
₹ 5,220/sq.ft.       1
₹ 13,608/sq.ft.      1
₹ 14,009/sq.ft.      1
₹ 5,039/sq.ft.       1
₹ 4,325/sq.ft.       1
₹ 5,013/sq.ft.       1
₹ 19,444/sq.ft.      1
₹ 5,666/sq.ft.       1
₹ 4,453/sq.ft.       1
₹ 7,422/sq.ft.       1
₹ 8,515/sq.ft.       1
₹ 3,600/sq.ft.       1
₹ 4,977/sq.ft.       1
₹ 9,879/sq.ft.       1
₹ 4,250/sq.ft.       1
₹ 7,389/sq.ft.       1
₹ 4,716/sq.ft.       1
₹ 5,933/sq.ft.       1
₹ 15,178/sq.ft.      1
₹ 13,975/sq.ft.      1
₹ 7,754/sq.ft.       1
₹ 5,261/sq.ft.       1
₹ 8,990/sq.ft.       1
₹ 14,754/sq.ft.      1
₹ 12,408/sq.ft.      1
₹ 4,470/sq.ft.       1
₹ 14,551/sq.ft.      1
₹ 6,526/sq.ft.       1
₹ 15,267/sq.ft.      1
₹ 2,638/sq.ft.       1

In [ ]:
df['price_per_sqft']=df['price_per_sqft'].str.split('/').str.get(0).str.replace('₹','').str.replace(',','').str.strip().astype(float)

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [ ]:
df['areaWithType'].value_counts()

areaWithType
Super Built up area 1578(146.6 sq.m.)                                                                                           17
Super Built up area 1350(125.42 sq.m.)                                                                                          17
Super Built up area 1950(181.16 sq.m.)Carpet area: 1161 sq.ft. (107.86 sq.m.)                                                   17
Super Built up area 1650(153.29 sq.m.)Carpet area: 1022.58 sq.ft. (95 sq.m.)                                                    15
Super Built up area 2010(186.74 sq.m.)                                                                                          14
Super Built up area 2150(199.74 sq.m.)                                                                                          12
Super Built up area 1950(181.16 sq.m.)                                                                                          11
Carpet area: 1650 (153.29 sq.m.)                                                                                                11
Super Built up area 1920(178.37 sq.m.)                                                                                          10
Super Built up area 1550(144 sq.m.)                                                                                             10
Carpet area: 1150 (106.84 sq.m.)                                                                                                10
Super Built up area 1650(153.29 sq.m.)                                                                                          10
Carpet area: 1450 (134.71 sq.m.)                                                                                                 9
Super Built up area 1828(169.83 sq.m.)                                                                                           9
Carpet area: 489 (45.43 sq.m.)                                                                                                   9
Super Built up area 1640(152.36 sq.m.)                                                                                           9
Carpet area: 1350 (125.42 sq.m.)                                                                                                 9
Super Built up area 1760(163.51 sq.m.)Built Up area: 1186 sq.ft. (110.18 sq.m.)Carpet area: 1130 sq.ft. (104.98 sq.m.)           8
Carpet area: 750 (69.68 sq.m.)                                                                                                   8
Carpet area: 900 (83.61 sq.m.)                                                                                                   8
Carpet area: 2400 (222.97 sq.m.)                                                                                                 8
Carpet area: 1950 (181.16 sq.m.)                                                                                                 8
Carpet area: 1800 (167.23 sq.m.)                                                                                                 8
Super Built up area 1366(126.91 sq.m.)                                                                                           8
Super Built up area 2200(204.39 sq.m.)                                                                                           7
Carpet area: 1600 (148.64 sq.m.)                                                                                                 7
Super Built up area 1930(179.3 sq.m.)                                                                                            7
Super Built up area 1200(111.48 sq.m.)                                                                                           7
Super Built up area 2350(218.32 sq.m.)                                                                                           7
Super Built up area 2408(223.71 sq.m.)                                                                                           7
Super Built up area 2364(219.62 sq.m.)                                                                                           7
Carpet area: 2300 (213.68 sq.m.)                                                                                                 7
Carpet area: 1300 (120.77 sq.m.)                                                                                                 7
Super Built up area 1538(142.88 sq.m.)                                                                                           7
Super Built up area 2100(195.1 sq.m.)                                                                                            7
Carpet area: 1103 (102.47 sq.m.)                                                                                                 7
Super Built up area 1415(131.46 sq.m.)                                                                                           7
Carpet area: 1760 (163.51 sq.m.)                                                                                                 7
Super Built up area 3400(315.87 sq.m.)                                                                                           7
Super Built up area 1568(145.67 sq.m.)                                                                                           6
Carpet area: 1326 (123.19 sq.m.)                                                                                                 6
Super Built up area 2812(261.24 sq.m.)                                                                                           6
Super Built up area 2727(253.35 sq.m.)                                                                                           6
Super Built up area 2215(205.78 sq.m.)                                                                                           6
Carpet area: 700 (65.03 sq.m.)                                                                                                   6
Super Built up area 2290(212.75 sq.m.)                                                                                           6
Super Built up area 3150(292.64 sq.m.)                                                                                           6
Super Built up area 1750(162.58 sq.m.)                                                                                           6
Carpet area: 1423 (132.2 sq.m.)                                                                                                  6
Super Built up area 1572(146.04 sq.m.)                                                                                           6
Carpet area: 822 (76.37 sq.m.)                                                                                                   6
Super Built up area 1215(112.88 sq.m.)                                                                                           5
Super Built up area 1997(185.53 sq.m.)                                                                                           5
Carpet area: 850 (78.97 sq.m.)                                                                                                   5
Super Built up area 1457(135.36 sq.m.)Carpet area: 849 sq.ft. (78.87 sq.m.)                                                      5
Super Built up area 1970(183.02 sq.m.)                                                                                           5
Carpet area: 645 (59.92 sq.m.)                                                                                                   5
Super Built up area 1000(92.9 sq.m.)                                                                                             5
Built Up area: 700 (65.03 sq.m.)                                                                                                 5
Super Built up area 1850(171.87 sq.m.)                                                                                           5
Super Built up area 1975(183.48 sq.m.)                                                                                           5
Super Built up area 2149(199.65 sq.m.)                                                                                           5
Carpet area: 1200 (111.48 sq.m.)                                                                                                 5
Super Built up area 1435(133.32 sq.m.)                                                                                           5
Super Built up area 2812(261.24 sq.m.)Built Up area: 2600 sq.ft. (241.55 sq.m.)Carpet area: 2400 sq.ft. (222.97 sq.m.)           5
Super Built up area 1245(115.66 sq.m.)                                                                                           5
Super Built up area 2000(185.81 sq.m.)                                                                                           5
Carpet area: 1050 (97.55 sq.m.)                                                                                                  5
Carpet area: 450 (41.81 sq.m.)                                                                                                   5
Carpet area: 1975 (183.48 sq.m.)                                                                                                 5
Carpet area: 2000 (185.81 sq.m.)                                                                                                 5
Super Built up area 1875(174.19 sq.m.)                                                                                           5
Super Built up area 1360(126.35 sq.m.)                                                                                           5
Super Built up area 1565(145.39 sq.m.)                                                                                           5
Super Built up area 1700(157.94 sq.m.)                                                                                           5
Super Built up area 1480(137.5 sq.m.)                                                                                            5
Super Built up area 2025(188.13 sq.m.)                                                                                           5
Super Built up area 1960(182.09 sq.m.)                                                                                           5
Carpet area: 600 (55.74 sq.m.)                                                                                                   5
Super Built up area 1790(166.3 sq.m.)                                                                                            4
Super Built up area 1100(102.19 sq.m.)                                                                                           4
Super Built up area 1365(126.81 sq.m.)                                                                                           4
Super Built up area 650(60.39 sq.m.)                                                                                             4
Carpet area: 1549 (143.91 sq.m.)                                                                                                 4
Carpet area: 800 (74.32 sq.m.)                                                                                                   4
Built Up area: 1103 (102.47 sq.m.)                                                                                               4
Carpet area: 1225 (113.81 sq.m.)                                                                                                 4
Built Up area: 2040 (189.52 sq.m.)                                                                                               4
Super Built up area 1081(100.43 sq.m.)                                                                                           4
Super Built up area 1900(176.52 sq.m.)Built Up area: 1600 sq.ft. (148.64 sq.m.)Carpet area: 1240.04 sq.ft. (115.2 sq.m.)         4
Super Built up area 1900(176.52 sq.m.)                                                                                           4
Super Built up area 1930(179.3 sq.m.)Built Up area: 1929 sq.ft. (179.21 sq.m.)Carpet area: 1928 sq.ft. (179.12 sq.m.)            4
Super Built up area 2000(185.81 sq.m.)Built Up area: 1900 sq.ft. (176.52 sq.m.)Carpet area: 1800 sq.ft. (167.23 sq.m.)           4
Super Built up area 1457(135.36 sq.m.)                                                                                           4
Super Built up area 2355(218.79 sq.m.)Built Up area: 1535 sq.ft. (142.61 sq.m.)Carpet area: 1403 sq.ft. (130.34 sq.m.)           4
Super Built up area 2095(194.63 sq.m.)                                                                                           4
Carpet area: 1340 (124.49 sq.m.)                                                                                                 4
Super Built up area 1942(180.42 sq.m.)                                                                                           4
Super Built up area 2191(203.55 sq.m.)                                                                                           4
Super Built up area 1261(117.15 sq.m.)                                                                                           4
Super Built up area 2950(274.06 sq.m.)                                                                                           4
Super Built up area 2358(219.07 sq.m.)                                                                                           4
Carpet area: 1400 (130.06 sq.m.)                                                                                                 4
Super Built up area 2400(222.97 sq.m.)                                                                                           4
Super Built up area 1780(165.37 sq.m.)                                                                                           4
Super Built up area 600(55.74 sq.m.)                                                                                             4
Super Built up area 2545(236.44 sq.m.)                                                                                           4
Super Built up area 1385(128.67 sq.m.)Built Up area: 940 sq.ft. (87.33 sq.m.)Carpet area: 845 sq.ft. (78.5 sq.m.)                4
Super Built up area 2802(260.31 sq.m.)Built Up area: 2225.56 sq.ft. (206.76 sq.m.)                                               4
Carpet area: 501 (46.54 sq.m.)                                                                                                   4
Built Up area: 1350 (125.42 sq.m.)                                                                                               4
Carpet area: 481.73 (44.75 sq.m.)                                                                                                4
Super Built up area 1430(132.85 sq.m.)                                                                                           4
Super Built up area 1900(176.52 sq.m.)Carpet area: 1240.04 sq.ft. (115.2 sq.m.)                                                  4
Carpet area: 2290 (212.75 sq.m.)                                                                                                 4
Super Built up area 1725(160.26 sq.m.)                                                                                           4
Super Built up area 1727(160.44 sq.m.)Carpet area: 1017 sq.ft. (94.48 sq.m.)                                                     4
Super Built up area 1789(166.2 sq.m.)                                                                                            4
Carpet area: 1500 (139.35 sq.m.)                                                                                                 4
Super Built up area 1825(169.55 sq.m.)                                                                                           4
Carpet area: 1250 (116.13 sq.m.)                                                                                                 4
Super Built up area 1300(120.77 sq.m.)                                                                                           4
Super Built up area 1103(102.47 sq.m.)                                                                                           4
Super Built up area 1310(121.7 sq.m.)                                                                                            4
Super Built up area 1210(112.41 sq.m.)                                                                                           3
Super Built up area 2047(190.17 sq.m.)                                                                                           3
Built Up area: 1360 (126.35 sq.m.)                                                                                               3
Super Built up area 1283(119.19 sq.m.)Built Up area: 978.23 sq.ft. (90.88 sq.m.)Carpet area: 734.43 sq.ft. (68.23 sq.m.)         3
Carpet area: 366.08 (34.01 sq.m.)                                                                                                3
Built Up area: 1150 (106.84 sq.m.)                                                                                               3
Built Up area: 1780 (165.37 sq.m.)                                                                                               3
Super Built up area 1505(139.82 sq.m.)                                                                                           3
Super Built up area 1929(179.21 sq.m.)                                                                                           3
Carpet area: 690 (64.1 sq.m.)                                                                                                    3
Super Built up area 1295(120.31 sq.m.)                                                                                           3
Super Built up area 1620(150.5 sq.m.)                                                                                            3
Super Built up area 1264(117.43 sq.m.)Carpet area: 730 sq.ft. (67.82 sq.m.)                                                      3
Built Up area: 2400 (222.97 sq.m.)                                                                                               3
Carpet area: 990 (91.97 sq.m.)                                                                                                   3
Carpet area: 640 (59.46 sq.m.)                                                                                                   3
Super Built up area 2588(240.43 sq.m.)Built Up area: 1900 sq.ft. (176.52 sq.m.)                                                  3
Super Built up area 1743(161.93 sq.m.)                                                                                           3
Carpet area: 1850 (171.87 sq.m.)                                                                                                 3
Super Built up area 1880(174.66 sq.m.)                                                                                           3
Carpet area: 601 (55.83 sq.m.)                                                                                                   3
Carpet area: 710 (65.96 sq.m.)                                                                                                   3
Carpet area: 2100 (195.1 sq.m.)                                                                                                  3
Super Built up area 1799(167.13 sq.m.)Carpet area: 1538 sq.ft. (142.88 sq.m.)                                                    3
Carpet area: 2500 (232.26 sq.m.)                                                                                                 3
Super Built up area 1269(117.89 sq.m.)                                                                                           3
Super Built up area 2585(240.15 sq.m.)                                                                                           3
Super Built up area 1370(127.28 sq.m.)                                                                                           3

In [ ]:
df['additionalRoom'].fillna('Not available',inplace=True)

<ipython-input-115-85f1c4f59263>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['additionalRoom'].fillna('Not available',inplace=True)

In [ ]:
df['additionalRoom'] = df['additionalRoom'].str.lower()

In [ ]:
df['additionalRoom'].value_counts()

additionalRoom
not available                                    1305
servant room                                      629
study room                                        232
others                                            179
pooja room                                        132
study room,servant room                            81
store room                                         76
pooja room,servant room                            60
servant room,others                                52
servant room,pooja room                            30
study room,others                                  27
pooja room,study room,servant room,others          25
pooja room,study room,servant room                 24
servant room,store room                            19
pooja room,study room                              13
pooja room,study room,servant room,store room      12
study room,pooja room                               8
servant room,study room                             8
study room,servant room,store room                  7
pooja room,store room                               6
pooja room,others                                   6
others,servant room                                 6
servant room,study room,pooja room,store room       6
pooja room,servant room,others                      6
study room,servant room,others                      5
pooja room,store room,study room,servant room       4
pooja room,study room,store room                    4
servant room,pooja room,study room,store room       3
study room,pooja room,store room                    3
store room,servant room                             3
servant room,study room,store room                  2
pooja room,study room,others                        2
study room,pooja room,servant room                  2
servant room,others,store room,pooja room           2
servant room,others,pooja room                      2
study room,servant room,pooja room,store room       2
others,study room                                   1
servant room,study room,others                      1
servant room,pooja room,study room                  1
servant room,study room,pooja room                  1
store room,pooja room,servant room                  1
servant room,pooja room,store room,study room       1
study room,store room                               1
store room,study room                               1
servant room,pooja room,store room                  1
study room,servant room,store room,pooja room       1
study room,servant room,pooja room                  1
pooja room,servant room,study room,store room       1
pooja room,study room,store room,servant room       1
store room,pooja room                               1
Name: count, dtype: int64

In [ ]:
df['floorNum'].isnull().sum()

2

<ipython-input-54-e4653da6d6c2>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['floorNum'].fillna('NA',inplace=True)

In [ ]:
df['floorNum']=df['floorNum'].str.split(' ').str.get(0).replace('Ground','0').str.replace('Lower','0').str.replace('Basement','-1').str.extract(r'(-?\d+)')

In [ ]:
df[df['floorNum'].isnull()]

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
181,3 BHK Flat in Dwarka Expressway Gurgaon,experion heartsong,1.08,6150.0,Built Up area: 1758 (163.32 sq.m.),3,3,0,not available,"604, Tower B-3, 6th Floor,Sector 108, Dwarka E...",NaN,NaN,Under Construction,NaN,A property by one of the most reputed builders...,[],NaN,NaN
2767,2 BHK Flat in Sector 78 Gurgaon,nan,0.60,3692.0,Built Up area: 1625 (150.97 sq.m.),2,2,0,not available,"Gurgaon, Sector 78 Gurgaon, Gurgaon, Haryana",NaN,NaN,Under Construction,NaN,The property is under construction it's by rah...,[],NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [ ]:
df['floorNum'].value_counts()

floorNum
2     258
3     248
1     223
4     203
8     200
7     188
10    185
6     185
5     172
9     171
12    160
0     133
14    117
11    115
15     83
16     53
17     51
13     43
18     38
19     34
20     25
21     15
23     15
22     14
24     11
25      9
27      7
26      5
30      5
28      4
31      4
33      3
29      3
43      2
35      2
32      2
39      2
34      2
40      2
38      1
45      1
44      1
Name: count, dtype: int64

In [ ]:
df['facing'].value_counts()

facing
North-East    505
East          490
North         301
South         203
West          183
North-West    162
South-East    144
South-West    135
Name: count, dtype: int64

In [ ]:
df['facing'].isnull().sum()

874

In [ ]:
df['facing'].fillna('NA',inplace=True)

<ipython-input-127-e6ba103970bd>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['facing'].fillna('NA',inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2997 entries, 0 to 3027
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    2997 non-null   object
 1   society          2997 non-null   object
 2   price            2996 non-null   float64
 3   price_per_sqft   2996 non-null   float64
 4   areaWithType     2997 non-null   object
 5   bedRoom          2997 non-null   int64
 6   bathroom         2997 non-null   int64
 7   balcony          2997 non-null   int64
 8   additionalRoom   2997 non-null   object
 9   address          2991 non-null   object
 10  floorNum         2997 non-null   object
 11  facing           2997 non-null   object
 12  agePossession    2996 non-null   object
 13  nearbyLocations  2906 non-null   object
 14  description      2997 non-null   object
 15  furnishDetails   2200 non-null   object
 16  features         2590 non-null   object
 17  rating           2668 non-null   object
dtypes: float64(2), int64(3), object(13)
memory usage: 444.9+ KB

In [ ]:
df.insert(loc=4,column='area',value=round((df['price']*10000000)/df['price_per_sqft']))

In [ ]:
df.insert(loc=1,column='property_type',value='flat')

In [ ]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12,NA,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2,NA,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,flat,parkwood westend,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5,NA,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [ ]:
df.to_csv('flats_cleaned1.csv',index=False)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/flats_cleaned1.csv')

In [ ]:
data

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12.0,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2.0,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,flat,parkwood westend,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5.0,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2992,3 BHK Flat in Sector 86 Gurgaon,flat,ansal heights 86,1.05,5541.0,1895.0,Super Built up area 1895(176.05 sq.m.),3,3,3,servant room,"Tower C, Sector 86 Gurgaon, Gurgaon, Haryana",9.0,North-East,Under Construction,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",Residential apartment for sell.Located in sect...,[],NaN,"['Safety4.5 out of 5', 'Lifestyle5 out of 5', ..."
2993,5 BHK Flat in Sector 48 Gurgaon,flat,parsvnath green ville,3.30,9984.0,3305.0,Super Built up area 3905(362.79 sq.m.)Built Up...,5,5,4,servant room,"Sector 48 Gurgaon, Gurgaon, Haryana",4.0,NaN,10+ Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",5 bhk duplex penthouse in low rise building.Av...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...","['Management4 out of 5', 'Green Area4 out of 5..."
2994,3 BHK Flat in Sector 108 Gurgaon,flat,raheja vedaanta,0.95,5214.0,1822.0,Super Built up area 1822(169.27 sq.m.),3,3,3,others,"Sector 108 Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,NaN,3 bedroom flat with full woodwork. Ready to mo...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3 out of 5', 'Green Area4 out of 5..."
2995,3 BHK Flat in DLF Phase 3,flat,ambience lagoon,5.80,12500.0,4640.0,Built Up area: 3700 (343.74 sq.m.),3,4,4,"pooja room,study room,servant room,others","Gurgaon, DLF Phase 3, Gurgaon, Haryana",9.0,North-East,10+ Year Old,"['Micromax moulsari avenue metro station', 'In...",Luxury condominium complex located on delhi gu...,"['1 Water Purifier', '10 Fan', '1 Fridge', '1 ...","['Security / Fire Alarm', 'Private Garden / Te...","['Management5 out of 5', 'Green Area5 out of 5..."
2996,4 BHK Flat in Sector 54 Gurgaon,flat,dlf the crest,11.00,35222.0,3123.0,Super Built up area 3123(290.14 sq.m.),4,6,3,servant room,"Sector 54 Gurgaon, Gurgaon, Haryana",7.0,NaN,1 to 5 Year Old,"['Sector 53-54 Metro Station', 'Ardee Mall', '...",Club & pool facing\nVrv air conditioning,"['6 Fan', '1 Fridge', '1 Exhaust Fan', '5 Geys...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Management4 out of 5', 'Green Area4 out of 5..."

In [ ]:
data.insert(loc=3,column='sector',value=data['property_name'].str.split('n ').str.get(1).str.replace('Gurgaon','').str.strip())

In [ ]:
data.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,Krishna Colony,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,...,not available,"Krishna Colony, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,Ashok Vihar,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,...,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,Sohna,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,...,not available,"Sohna, Gurgaon, Haryana",12.0,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,Sector 61,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,...,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2.0,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,flat,parkwood westend,Sector 92,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,...,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5.0,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [ ]:
data['sector'].value_counts()

sector
sohna road                   159
sector 102                   113
sector 85                    110
sector 92                    100
sector 69                     92
                            ...
sector 37a                     1
carterpuri village             1
garauli kalan                  1
sultanpur                      1
godrej aria , sector 79 ,      1
Name: count, Length: 160, dtype: int64

In [ ]:
data['sector']=data['sector'].str.lower()

In [ ]:
data['sector'] = data['sector'].str.replace('dharam colony','sector 12')
data['sector'] = data['sector'].str.replace('krishna colony','sector 7')
data['sector'] = data['sector'].str.replace('suncity','sector 54')
data['sector'] = data['sector'].str.replace('prem nagar','sector 13')
data['sector'] = data['sector'].str.replace('mg road','sector 28')
data['sector'] = data['sector'].str.replace('gandhi nagar','sector 28')
data['sector'] = data['sector'].str.replace('laxmi garden','sector 11')
data['sector'] = data['sector'].str.replace('shakti nagar','sector 11')

In [ ]:
data['sector'] = data['sector'].str.replace('baldev nagar','sector 7')
data['sector'] = data['sector'].str.replace('shivpuri','sector 7')
data['sector'] = data['sector'].str.replace('garhi harsaru','sector 17')
data['sector'] = data['sector'].str.replace('imt manesar','manesar')
data['sector'] = data['sector'].str.replace('adarsh nagar','sector 12')
data['sector'] = data['sector'].str.replace('shivaji nagar','sector 11')
data['sector'] = data['sector'].str.replace('bhim nagar','sector 6')
data['sector'] = data['sector'].str.replace('madanpuri','sector 7')
data['sector'] = data['sector'].str.replace('saraswati vihar','sector 28')
data['sector'] = data['sector'].str.replace('arjun nagar','sector 8')
data['sector'] = data['sector'].str.replace('ravi nagar','sector 9')
data['sector'] = data['sector'].str.replace('vishnu garden','sector 105')
data['sector'] = data['sector'].str.replace('bhondsi','sector 11')
data['sector'] = data['sector'].str.replace('surya vihar','sector 21')
data['sector'] = data['sector'].str.replace('devilal colony','sector 9')
data['sector'] = data['sector'].str.replace('valley view estate','gwal pahari')

In [ ]:
data['sector'] = data['sector'].str.replace('mehrauli  road', 'sector 14')
data['sector'] = data['sector'].str.replace('jyoti park', 'sector 7')
data['sector'] = data['sector'].str.replace('ansal plaza', 'sector 23')
data['sector'] = data['sector'].str.replace('dayanand colony', 'sector 6')
data['sector'] = data['sector'].str.replace('sushant lok phase 2', 'sector 55')
data['sector'] = data['sector'].str.replace('chakkarpur', 'sector 28')
data['sector'] = data['sector'].str.replace('greenwood city', 'sector 45')
data['sector'] = data['sector'].str.replace('subhash nagar', 'sector 12')
data['sector'] = data['sector'].str.replace('sohna road road', 'sohna road')
data['sector'] = data['sector'].str.replace('malibu town', 'sector 47')
data['sector'] = data['sector'].str.replace('surat nagar 1', 'sector 104')
data['sector'] = data['sector'].str.replace('new colony', 'sector 7')
data['sector'] = data['sector'].str.replace('mianwali colony', 'sector 12')
data['sector'] = data['sector'].str.replace('jacobpura', 'sector 12')
data['sector'] = data['sector'].str.replace('rajiv nagar', 'sector 13')
data['sector'] = data['sector'].str.replace('ashok vihar', 'sector 3')
data['sector'] = data['sector'].str.replace('dlf phase 1', 'sector 26')
data['sector'] = data['sector'].str.replace('nirvana country', 'sector 50')
data['sector'] = data['sector'].str.replace('palam vihar', 'sector 2')
data['sector'] = data['sector'].str.replace('dlf phase 2', 'sector 25')
data['sector'] = data['sector'].str.replace('sushant lok phase 1', 'sector 43')
data['sector'] = data['sector'].str.replace('laxman vihar', 'sector 4')
data['sector'] = data['sector'].str.replace('dlf phase 4', 'sector 28')
data['sector'] = data['sector'].str.replace('dlf phase 3', 'sector 24')
data['sector'] = data['sector'].str.replace('sushant lok phase 3', 'sector 57')
data['sector'] = data['sector'].str.replace('dlf phase 5', 'sector 43')
data['sector'] = data['sector'].str.replace('rajendra park', 'sector 105')
data['sector'] = data['sector'].str.replace('uppals southend', 'sector 49')
data['sector'] = data['sector'].str.replace('sohna', 'sohna road')
data['sector'] = data['sector'].str.replace('ashok vihar phase 3 extension', 'sector 5')
data['sector'] = data['sector'].str.replace('south city 1', 'sector 41')
data['sector'] = data['sector'].str.replace('ashok vihar phase 2', 'sector 5')

In [ ]:
a = data['sector'].value_counts()[data['sector'].value_counts() >= 3]
data = data[data['sector'].isin(a.index)]

In [ ]:
data['sector'] = data['sector'].str.replace('sector 95a', 'sector 95')
data['sector'] = data['sector'].str.replace('sector 23a', 'sector 23')
data['sector'] = data['sector'].str.replace('sector 12a', 'sector 12')
data['sector'] = data['sector'].str.replace('sector 3a', 'sector 3')
data['sector'] = data['sector'].str.replace('sector 110 a', 'sector 110')
data['sector'] = data['sector'].str.replace('patel nagar', 'sector 15')
data['sector'] = data['sector'].str.replace('a block sector 43', 'sector 43')

data['sector'] = data['sector'].str.replace('maruti kunj', 'sector 12')
data['sector'] = data['sector'].str.replace('b block sector 43', 'sector 43')
data['sector'] = data['sector'].str.replace('sector-33 sohna road', 'sector 33')
data['sector'] = data['sector'].str.replace('sector 1 manesar', 'manesar')
data['sector'] = data['sector'].str.replace('sector 4 phase 2', 'sector 4')
data['sector'] = data['sector'].str.replace('sector 1a manesar', 'manesar')
data['sector'] = data['sector'].str.replace('c block sector 43', 'sector 43')
data['sector'] = data['sector'].str.replace('sector 89 a', 'sector 89')
data['sector'] = data['sector'].str.replace('sector 2 extension', 'sector 2')
data['sector'] = data['sector'].str.replace('sector 36 sohna road', 'sector 36')

<ipython-input-26-9a23b24ae9cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 95a', 'sector 95')
<ipython-input-26-9a23b24ae9cf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 23a', 'sector 23')
<ipython-input-26-9a23b24ae9cf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 12a', 'sector 12')
<ipython-input-26-9a23b24ae9cf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 3a', 'sector 3')
<ipython-input-26-9a23b24ae9cf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 110 a', 'sector 110')
<ipython-input-26-9a23b24ae9cf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('patel nagar', 'sector 15')
<ipython-input-26-9a23b24ae9cf>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('a block sector 43', 'sector 43')
<ipython-input-26-9a23b24ae9cf>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('maruti kunj', 'sector 12')
<ipython-input-26-9a23b24ae9cf>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('b block sector 43', 'sector 43')
<ipython-input-26-9a23b24ae9cf>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector-33 sohna road', 'sector 33')
<ipython-input-26-9a23b24ae9cf>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 1 manesar', 'manesar')
<ipython-input-26-9a23b24ae9cf>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 4 phase 2', 'sector 4')
<ipython-input-26-9a23b24ae9cf>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 1a manesar', 'manesar')
<ipython-input-26-9a23b24ae9cf>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('c block sector 43', 'sector 43')
<ipython-input-26-9a23b24ae9cf>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 89 a', 'sector 89')
<ipython-input-26-9a23b24ae9cf>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 2 extension', 'sector 2')
<ipython-input-26-9a23b24ae9cf>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 36 sohna road', 'sector 36')

In [ ]:
data['sector'].value_counts()

sector
sohna road    159
sector 102    113
sector 85     110
sector 92     100
sector 69      92
             ...
sector 11       3
sector 21       3
sector 88b      3
sector 6        3
sector 105      3
Name: count, Length: 96, dtype: int64

In [ ]:
data['sector'] = data['sector'].str.replace('sector 88b', 'sector 89')

<ipython-input-47-41de22d5f2e7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 88b', 'sector 89')

In [ ]:
data[~data['sector'].str.contains('sector', na=False)].sector.value_counts()

sector
sohna road           162
manesar               30
gwal pahari           18
dwarka expressway      7
laxma                  7
mehrauli gurgao        7
Name: count, dtype: int64

In [ ]:
data['sector'] = data['sector'].str.replace('sohna road road', 'sohna road')

<ipython-input-32-03b7cf67964e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sohna road road', 'sohna road')

In [ ]:
data[data['sector']=='sector 89'].shape

(62, 21)

In [ ]:
data.loc[[8,1826,2452],'sector'] = 'sector 88'

In [ ]:
data.loc[2045,'sector'] = 'sector 76'
data.loc[2803,'sector'] = 'sector 37'
data.loc[2895,'sector'] = 'sector 90'
data.loc[2960,'sector'] = 'sector 92'

In [ ]:
data[data['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
30,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2,2,...,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
88,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2,1,...,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."
2842,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2,2,...,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."

In [ ]:
data.loc[30,'sector'] = 'sector 110'
data.loc[88,'sector'] = 'sector 110'
data.loc[2842,'sector'] = 'sector 110'

In [ ]:
data['sector'].value_counts()

sector
sohna road           162
sector 37            119
sector 102           113
sector 85            110
sector 92            101
sector 70             93
sector 69             92
sector 90             91
sector 65             89
sector 81             87
sector 79             80
sector 83             68
sector 104            67
sector 95             66
sector 86             63
sector 67             63
sector 89             62
sector 107            60
sector 33             58
sector 108            55
sector 109            52
sector 82             51
sector 84             51
sector 99             48
sector 56             44
sector 113            43
sector 61             41
sector 103            41
sector 106            37
sector 2              33
sector 68             30
manesar               30
sector 49             30
sector 63             29
sector 66             29
sector 77             29
sector 48             28
sector 50             27
sector 71             27
sector 88             26
sector 72             25
sector 43             25
sector 28             24
sector 54             22
sector 36             22
sector 112            21
sector 111            21
sector 110            21
sector 78             19
sector 74             18
gwal pahari           18
sector 22             18
sector 62             17
sector 91             15
sector 3              15
sector 60             14
sector 76             13
sector 53             12
sector 52             11
sector 93             11
sector 12             10
sector 9              10
sector 47             10
sector 59              8
mehrauli gurgao        7
dwarka expressway      7
sector 58              7
laxma                  7
sector 51              6
sector 24              6
sector 80              5
sector 39              5
sector 7               5
sector 30              5
sector 10              5
sector 1               4
sector 25              4
sector 57              4
sector 55              3
sector 31              3
sector 11              3
sector 21              3
sector 6               3
sector 105             3
Name: count, dtype: int64

In [ ]:
data['sector'] = data['sector'].str.replace('sector 82a', 'sector 82')
data['sector'] = data['sector'].str.replace('sector 63a', 'sector 63')
data['sector'] = data['sector'].str.replace('sector 36a', 'sector 36')
data['sector'] = data['sector'].str.replace('sector 9a', 'sector 9')
data['sector'] = data['sector'].str.replace('sector 3 phase 2', 'sector 3')
data['sector'] = data['sector'].str.replace('sector 10a', 'sector 10')
data['sector'] = data['sector'].str.replace('sector 67a', 'sector 67')
data['sector'] = data['sector'].str.replace('sector 88a', 'sector 88')
data['sector'] = data['sector'].str.replace('sector 37d', 'sector 37')
data['sector'] = data['sector'].str.replace('sector 37c', 'sector 37')
data['sector'] = data['sector'].str.replace('sector 70a', 'sector 70')
data['sector'] = data['sector'].str.replace('sector 99a', 'sector 99')

<ipython-input-55-085ba79cb0fa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 82a', 'sector 82')
<ipython-input-55-085ba79cb0fa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 63a', 'sector 63')
<ipython-input-55-085ba79cb0fa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 36a', 'sector 36')
<ipython-input-55-085ba79cb0fa>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 9a', 'sector 9')
<ipython-input-55-085ba79cb0fa>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 3 phase 2', 'sector 3')
<ipython-input-55-085ba79cb0fa>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 10a', 'sector 10')
<ipython-input-55-085ba79cb0fa>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 67a', 'sector 67')
<ipython-input-55-085ba79cb0fa>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 88a', 'sector 88')
<ipython-input-55-085ba79cb0fa>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 37d', 'sector 37')
<ipython-input-55-085ba79cb0fa>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 37c', 'sector 37')
<ipython-input-55-085ba79cb0fa>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 70a', 'sector 70')
<ipython-input-55-085ba79cb0fa>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sector'] = data['sector'].str.replace('sector 99a', 'sector 99')

In [ ]:
data.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,sector 7,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,sector 3,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,sohna road,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12.0,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,sector 61,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2.0,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,flat,parkwood westend,sector 92,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5.0,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [ ]:
data.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

<ipython-input-58-b1c8522d7886>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [ ]:
data.duplicated().sum()

0

In [ ]:
data.drop_duplicates(inplace=True)

<ipython-input-60-515f69ef7765>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop_duplicates(inplace=True)

In [ ]:
data.sample(10)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
651,flat,ambience creacions,sector 22,4.78,15469.0,3090.0,Super Built up area 3090(287.07 sq.m.)Built Up...,3,4,3,"servant room,others",7.0,West,1 to 5 Year Old,"['Moulsari Avenue', 'Ambience Mall', 'Old Delh...","['1 Water Purifier', '1 Fridge', '4 Fan', '1 E...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
794,flat,m3m woodshire,sector 107,1.21,6227.0,1943.0,Super Built up area 1943(180.51 sq.m.)Carpet a...,3,3,3,not available,7.0,East,5 to 10 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...","['3 Wardrobe', '1 Exhaust Fan', '1 Modular Kit...","['Security / Fire Alarm', 'Power Back-up', 'Fe..."
900,flat,shree vardhman victoria,sector 70,1.65,8461.0,1950.0,Super Built up area 1950(181.16 sq.m.)Carpet a...,3,4,3,"servant room,others",5.0,South-East,1 to 5 Year Old,"['Airia Mall', 'Golf Course Extn Road', 'Sohna...","['1 Wardrobe', '4 Fan', '3 Geyser', '7 Light',...","['Feng Shui / Vaastu Compliant', 'Security / F..."
2706,flat,valley view estate,gwal pahari,1.50,7489.0,2003.0,Super Built up area 2000(185.81 sq.m.)Built Up...,4,4,4,not available,10.0,North-East,5 to 10 Year Old,"['HANUMAN MANDIR', 'SHIV MANDIR BALIYAWAS', 'I...",[],"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M..."
2499,flat,krisumi waterfall residences,sector 36,2.30,15551.0,1479.0,Built Up area: 1479 (137.4 sq.m.),2,2,2,not available,23.0,NaN,undefined,"['Sector 54 Chowk Metro Station', 'Vatika Town...",NaN,NaN
1819,flat,bestech park view sanskruti,sector 92,1.55,7769.0,1995.0,Super Built up area 1995(185.34 sq.m.),3,4,3,servant room,8.0,North,1 to 5 Year Old,"['Sapphire 93 Mall', 'Dwarka Expressway', 'NH-...",NaN,"['Feng Shui / Vaastu Compliant', 'Security / F..."
2955,flat,green court,sector 90,0.50,8333.0,600.0,Super Built up area 700(65.03 sq.m.)Carpet are...,2,2,1,not available,8.0,NaN,0 to 1 Year Old,"['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...",[],"['Feng Shui / Vaastu Compliant', 'Security / F..."
1599,flat,beverley park 1,sector 43,8.44,16230.0,5200.0,Super Built up area 5200(483.1 sq.m.)Built Up ...,4,5,3,servant room,9.0,North-East,5 to 10 Year Old,"['Mg road metro station', 'Iffco chowk metro s...","['1 Water Purifier', '8 Fan', '1 Fridge', '1 E...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
122,flat,m3m soulitude,sector 89,1.25,8784.0,1423.0,Super Built up area 1423(132.2 sq.m.),3,3,3,"study room,others",3.0,East,Within 6 months,"['Vatika Town Square-INXT', 'Sector 86 Road', ...",NaN,NaN
525,flat,bestech park view residency,sector 2,0.98,6961.0,1408.0,Super Built up area 1415(131.46 sq.m.),2,2,3,not available,0.0,East,5 to 10 Year Old,"['Dwarka Sector 21 Metro Station', 'HUDA Marke...","['2 Wardrobe', '4 Fan', '1 Geyser', '5 Light',...","['Security / Fire Alarm', 'Power Back-up', 'Li..."

In [ ]:
data.shape

(2800, 17)

In [ ]:
data.to_csv('flats_cleaned2.csv',index=False)