<a href="https://colab.research.google.com/github/Om-soni-15/Gurgaon-Real-Estate-Price-Prediction-Analytics-Platform/blob/master/Notebooks/house_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
df= pd.read_csv('/content/independent-house - independent-house.csv')

In [ ]:
df

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
1,5 Bedroom House for sale in Sector 21A Faridabad,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ..."
2,10 Bedroom House for sale in Sushant Lok Phase 1,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,3 Bedroom House for sale in Bissar,Silverglades Tarudhan Valley Golf Resort,3.6 Crore,"₹ 14,815/sq.ft.",(226 sq.m.) Plot Area,Plot area 270(225.75 sq.m.),3 Bedrooms,3 Bathrooms,2 Balconies,"Pooja Room,Study Room,Servant Room,Others","Bissar, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,This 3 bhk house for sale in bissar is an idea...,"['1 Water Purifier', '10 Fan', '1 Fridge', '1 ...","['Centrally Air Conditioned', 'Water purifier'..."
1091,3 Bedroom House for sale in Bissar,Silverglades Tarudhan Valley Golf Resort,NaN,"₹ 13,992/sq.ft.",(226 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1092,8 Bedroom House for sale in DLF Phase 2,NaN,NaN,"₹ 23,457/sq.ft.",(376 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1093,8 Bedroom House for sale in C Block Sushant Lo...,NaN,NaN,"₹ 31,008/sq.ft.",(180 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094,2 Bedroom House for sale in Sector 92 Gurgaon,Signature Global City 92,NaN,"₹ 13,034/sq.ft.",(89 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1095 non-null   object
 1   link             1095 non-null   object
 2   society          471 non-null    object
 3   price            968 non-null    object
 4   rate             1054 non-null   object
 5   area             1095 non-null   object
 6   areaWithType     987 non-null    object
 7   bedRoom          987 non-null    object
 8   bathroom         987 non-null    object
 9   balcony          987 non-null    object
 10  additionalRoom   589 non-null    object
 11  address          1031 non-null   object
 12  noOfFloor        967 non-null    object
 13  facing           674 non-null    object
 14  agePossession    987 non-null    object
 15  nearbyLocations  913 non-null    object
 16  description      1036 non-null   object
 17  furnishDetails   743 non-null    object
 18  features         674 non-null    object
 19  rating           907 non-null    object
 20  property_id      1036 non-null   object
dtypes: object(21)
memory usage: 179.8+ KB

In [ ]:
df.drop(['rating',	'property_id','link'],axis=1,inplace=True)

In [ ]:
df.duplicated().sum()

22

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.isnull().sum()

property_name        0
society            579
price               18
price_per_sqft      28
area                 0
areaWithType         0
bedRoom              0
bathroom             0
balcony              0
additionalRoom     396
address              5
noOfFloor           19
facing             312
agePossession        0
nearbyLocations    123
description          0
furnishDetails     242
features           312
dtype: int64

In [ ]:
df.rename(columns={'rate':'price_per_sqft'},inplace=True)

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
1,5 Bedroom House for sale in Sector 21A Faridabad,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ..."
2,10 Bedroom House for sale in Sushant Lok Phase 1,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito..."

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
df=df[~df['bathroom'].isna()]

In [ ]:
df['bathroom'].isnull().sum()

0

In [ ]:
df['bathroom']=df['bathroom'].str.split(' ').str.get(0).astype(int)

<ipython-input-20-c1207852ffb8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bathroom']=df['bathroom'].str.split(' ').str.get(0).astype(int)

In [ ]:
df['bedRoom']=df['bedRoom'].str.split(' ').str.get(0).astype(int)

<ipython-input-23-bc8e6304f5ee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bedRoom']=df['bedRoom'].str.split(' ').str.get(0).astype(int)

In [ ]:
df['bathroom'].value_counts()

bathroom
4     229
3     166
5     137
2     118
6      83
1      67
9      42
7      39
8      28
12     22
10     11
16      8
18      4
13      4
11      4
20      3
17      3
14      2
21      1
36      1
34      1
Name: count, dtype: int64

In [ ]:
df['balcony']=df['balcony'].str.split(' ').str.get(0)

<ipython-input-26-0c1aa18cf5f8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balcony']=df['balcony'].str.split(' ').str.get(0)

In [ ]:
df['balcony'].value_counts()

balcony
3+    365
2     221
3     161
0     118
1     108
Name: count, dtype: int64

In [ ]:
df['balcony']=df['balcony'].str.replace('3+','4')

<ipython-input-30-be2279efb381>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balcony']=df['balcony'].str.replace('3+','4')

In [ ]:
df['balcony']=df['balcony'].astype(int)

<ipython-input-31-3f86fa63dcb4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balcony']=df['balcony'].astype(int)

In [ ]:
df['balcony']=df['balcony'].str.replace('No','0')

<ipython-input-28-d0310ea6eb51>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balcony']=df['balcony'].str.replace('No','0')

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5,4,4,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
1,5 Bedroom House for sale in Sector 21A Faridabad,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5,4,2,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ..."
2,10 Bedroom House for sale in Sushant Lok Phase 1,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10,10,4,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21,21,4,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12,12,4,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito..."

In [ ]:
df['society'].value_counts()

society
independent                                          583
vipul tatvam villa                                    19
international city by sobha phase 2                   19
emaar mgf marbella                                    17
international city by sobha phase 1                   15
unitech uniworld resorts                              12
dlf city plots phase 2                                11
unitech espace                                        11
dlf city plots                                        11
bptp visionnaire                                       8
uppal southend                                         7
not applicable                                         7
eldeco mansionz                                        6
ansals palam vihar                                     6
sushant lok 1 builder floors                           6
dlf city phase 1                                       5
dlf new town heights                                   4
vatika india next                                      4
unitech aspen greens                                   4
ansal sushant lok plots                                4
bptp astaire gardens                                   3
eros rosewood city                                     3
palam vihar extension west zone rwa                    3
rattan garden                                          3
ss aaron ville                                         3
housing board colony                                   3
experion windchants                                    3
vatika signature villas                                3
dlf city plots phase 3                                 3
sector 14 rwa                                          3
malibu towne                                           3
unitech nirvana birch court                            3
eros rosewood villas                                   3
ansals florence villa                                  3
unitech escape                                         2
iffco nagar and 17b rwa                                2
bhim garh kheri                                        2
sobha city                                             2
unitech palms south city 1                             2
ardee city                                             2
sector 38 rwa                                          2
bptp pedestal                                          2
tata primanti                                          2
hans enclave                                           2
suncity township                                       2
rwa sector 46                                          2
nirvana country                                        2
emaar the palm springs                                 2
ss hibiscus                                            2
ireo victory valley                                    2
nirvana cedar crest                                    2
satya the hermitage                                    2
silverglades tarudhan valley golf resort               2
ansal api esencia                                      2
project housing board colony                           2
spaze privy                                            2
shivpuri                                               2
suncity essel towers                                   2
project mianwali colony                                2
unitech deerwood chase                                 2
luxury dlf city floors                                 2
ansal florence super                                   1
smart world orchard                                    1
huda ashok vihar phase                                 1
unitech south city                                     1
private house                                          1
4s aradhya homes                                       1
ansal api spanish court                                1
emaar emerald hills                                    1
ashok vihar phase 3 gurgaon                            1
central park flower valley cerise floors               1
farrukhnagar                                           1
dlf garden city floors                                 1
prem kunj                                              1
birla navya                                            1
dlf floors phase 3                                     1
kothi                                                  1
secter 16a daultabad faridabad house no 313            1
rajendra park sec 105                                  1
dlf city plots phase 4                                 1
landmark house                                         1
ansal heights                                          1
cloudnine cottages                                     1
u block dlf phase 3 road no 21                         1
sector 15 part 2 rwa                                   1
nitin vihar                                            1
sector-17c                                             1
dlf south city 1                                       1
ansal sushant residency                                1
floor wise designer kothi                              1
huda floor                                             1
huda                                                   1
sector 57 huda                                         1
saksham welfare association                            1
godrej meridien                                        1
ansal sushant lok 2                                    1
the laburnum                                           1
vatika independent floors                              1
arjun marg/ sector- 26 phase- 1/ golf course road      1
grover homes sec 4                                     1
central park flower valley                             1
dlf pink town house                                    1
satya the legend                                       1
huda sector-56 gurgaon                                 1
bestech park view aindependentda                       1
independent house sector 45                            1
dlf alameda                                            1
sector 37                                              1
puri diplomatic greens                                 1
unitech greenwood city                                 1
vatika the seven lamps                                 1
ansal sushant lok                                      1
central park                                           1
signature global city 81                               1
signature global city                                  1
ashok vihar phase iii extension                        1
ansal                                                  1
rattan vihar rajendra park                             1
ninex city                                             1
indiabulls centrum park                                1
house number b-34                                      1
row house                                              1
huda plot sector 38                                    1
ats tourmaline                                         1
mian wali                                              1
shri shyam residency                                   1
ansal celebrity homes                                  1
laxmi garden sector-11                                 1
huda housing board colony                              1
tulip yellow                                           1
shree krishna homes                                    1
smart world gems                                       1
ganpati heights apartment                              1
hero homes                                             1
jacobpura gurugram                                     1
aindependentt raj estates                              1
aindependentd garden, sector-105                       1
bhawani enclave                                        1
rk excelo                                              1
dlf the grove                                          1
surendra homes dayaindependentd colony                 1
om nagar, sector-11                                    1
vatika sovereign next                                  1
manohar nagar                                          1
anamika enclave                                        1
bhim nagar, sector 6                                   1
dlf the arbour                                         1
madan puri                                             1
jacobpura                                              1
huda plots                                             1
huda flats                                             1
signature global city 63a                              1
dlf city plot phase 3                                  1
adani brahma samsara                                   1
sneh vihar                                             1
sheetla enclave                                        1
suncity avenue 76                                      1
ss omnia                                               1
anshul                                                 1
sare crescent parc royal greens phase 1                1
signature global park                                  1
vipul world                                            1
greenopolis                                            1
ansal esencia sovereign floors                         1
nirmal enclave, maruti kunj road                       1
jacob pura                                             1
mahavir pura                                           1
raj villas                                             1
my home                                                1
shivaji nagar residential                              1
bhim nagar society                                     1
surat nagar phase 2                                    1
signature global city 92                               1
dlf city plot phase 4                                  1
sai kripa floors 5                                     1
naman residency                                        1
dlf gardencity enclave                                 1
rajendra park gurgaon                                  1
krishna palace                                         1
Name: count, dtype: int64

In [ ]:
df['society'] = df['society'].apply(lambda name: re.sub(r'\d+(\.\d+)?\s?★', '', str(name)).strip()).str.lower()

<ipython-input-34-f8d5b22ab9cd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['society'] = df['society'].apply(lambda name: re.sub(r'\d+(\.\d+)?\s?★', '', str(name)).strip()).str.lower()

In [ ]:
df['society'] = df['society'].str.replace('nul','independent')

<ipython-input-39-104dd5b6f978>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['society'] = df['society'].str.replace('nul','independent')

In [ ]:
df['society'] = df['society'].str.replace('nan','independent')

<ipython-input-36-a410a4fe4715>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['society'] = df['society'].str.replace('nan','independent')

In [ ]:
df['society'].isnull().sum()

0

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5,4,4,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5,4,2,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ..."
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10,10,4,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21,21,4,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12,12,4,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito..."

In [ ]:
def treat_price(price):
    if  type(price)== float:
      return price
    else:
      if 'Lac' in price:
       return round(float(price[0])/100,2)
      else:
        return round(float(price[0]),2)

In [ ]:
df = df[df['price'] != 'Price on Request']

In [ ]:
df.price.value_counts()

price
3.50     19
5.50     17
6.50     16
6.00     14
0.75     13
5.00     13
4.50     13
0.70     13
8.00     13
0.50     13
0.85     12
7.00     12
8.50     12
0.60     11
1.50     11
4.00     11
9.00     10
0.45     10
2.25     10
2.50     10
0.90     10
10.00    10
2.00      9
12.00     9
0.80      9
9.50      9
1.10      9
1.70      9
0.55      8
11.00     8
1.60      8
1.00      8
6.75      8
4.60      8
12.50     7
1.20      7
3.75      7
0.95      7
1.30      7
0.65      7
0.40      7
2.10      7
1.35      7
7.50      6
3.25      6
10.50     6
1.15      6
4.25      6
2.75      6
6.25      6
3.60      6
5.70      6
1.45      6
16.00     6
2.95      6
13.50     6
1.80      5
2.80      5
5.60      5
0.35      5
3.00      5
4.75      5
1.25      5
0.38      5
7.25      5
15.00     5
0.58      4
4.35      4
0.37      4
0.42      4
18.00     4
9.25      4
4.70      4
1.40      4
1.65      4
2.40      4
5.25      4
8.25      4
3.20      4
13.00     4
3.30      4
5.75      4
11.50     4
17.00     4
5.80      4
6.80      4
0.34      3
0.82      3
7.35      3
0.47      3
5.65      3
4.30      3
1.16      3
0.32      3
3.40      3
0.49      3
1.85      3
0.62      3
0.92      3
5.15      3
0.53      3
2.30      3
8.40      3
7.20      3
2.20      3
3.10      3
19.00     3
20.00     3
6.95      3
1.95      3
0.66      3
4.45      3
2.90      3
6.40      3
3.85      3
1.55      3
1.90      3
0.89      2
1.05      2
26.00     2
14.00     2
3.35      2
3.65      2
10.55     2
8.49      2
9.90      2
15.50     2
10.85     2
3.15      2
2.15      2
3.51      2
6.30      2
2.55      2
0.36      2
11.75     2
3.55      2
1.75      2
0.30      2
0.48      2
11.25     2
0.67      2
4.95      2
19.50     2
7.10      2
11.95     2
10.45     2
3.05      2
9.40      1
5.88      1
10.30     1
8.45      1
6.15      1
31.50     1
9.01      1
12.25     1
10.80     1
2.47      1
2.70      1
2.01      1
3.70      1
4.15      1
2.35      1
7.30      1
18.50     1
8.60      1
4.99      1
27.50     1
8.31      1
6.21      1
1.83      1
9.80      1
18.25     1
5.30      1
5.10      1
3.90      1
4.49      1
0.99      1
18.40     1
1.64      1
9.85      1
7.45      1
9.35      1
3.80      1
9.55      1
6.46      1
4.05      1
8.75      1
6.44      1
23.00     1
2.45      1
1.04      1
7.85      1
7.80      1
25.00     1
1.18      1
7.42      1
4.40      1
9.19      1
2.68      1
2.65      1
6.09      1
1.27      1
11.29     1
4.31      1
4.10      1
11.58     1
15.10     1
8.48      1
8.20      1
7.65      1
5.51      1
3.49      1
2.99      1
22.00     1
0.78      1
8.90      1
0.07      1
4.02      1
3.93      1
0.15      1
4.12      1
1.87      1
0.22      1
3.12      1
2.58      1
3.69      1
8.95      1
13.20     1
0.51      1
0.63      1
1.72      1
1.52      1
0.52      1
11.30     1
7.05      1
8.81      1
7.99      1
10.75     1
7.60      1
10.56     1
5.46      1
7.49      1
12.39     1
5.40      1
8.80      1
0.61      1
7.69      1
8.70      1
6.20      1
5.90      1
5.85      1
5.35      1
6.60      1
4.65      1
6.10      1
0.68      1
8.10      1
1.34      1
0.46      1
2.60      1
3.87      1
1.39      1
0.59      1
0.27      1
14.75     1
1.07      1
9.54      1
17.30     1
18.90     1
24.00     1
7.46      1
3.99      1
6.81      1
18.02     1
0.96      1
0.13      1
2.43      1
5.20      1
0.43      1
0.71      1
1.44      1
3.71      1
0.18      1
3.08      1
0.29      1
0.24      1
0.44      1
0.83      1
0.98      1
3.09      1
0.74      1
0.69      1
2.98      1
Name: count, dtype: int64

In [ ]:
df['price']=df['price'].str.split(' ').apply(treat_price)

<ipython-input-45-0a906e1122c4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price']=df['price'].str.split(' ').apply(treat_price)

In [ ]:
df['price_per_sqft']=df['price_per_sqft'].str.split('/').str.get(0).str.replace('₹','').str.replace(',','').str.strip().astype(float)

<ipython-input-47-f3ebd2d9955b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_per_sqft']=df['price_per_sqft'].str.split('/').str.get(0).str.replace('₹','').str.replace(',','').str.strip().astype(float)

In [ ]:
df.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5,4,4,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,105751.0,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5,4,2,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ..."
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.10,38251.0,(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10,10,4,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5.00,43066.0,(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21,21,4,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3.00,53763.0,(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12,12,4,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito..."

In [ ]:
df['additionalRoom'].value_counts()

additionalRoom
Servant Room                                     81
Pooja Room,Study Room,Servant Room,Store Room    60
Others                                           58
Pooja Room                                       38
Pooja Room,Study Room,Servant Room               33
Pooja Room,Study Room,Servant Room,Others        32
Store Room                                       31
Pooja Room,Servant Room                          24
Study Room                                       19
Study Room,Servant Room                          19
Servant Room,Store Room                          14
Pooja Room,Study Room                            11
Pooja Room,Store Room                            11
Pooja Room,Others                                11
Servant Room,Pooja Room                           8
Servant Room,Others                               8
Pooja Room,Store Room,Study Room,Servant Room     8
Pooja Room,Servant Room,Store Room                7
Store Room,Servant Room                           6
Study Room,Servant Room,Pooja Room,Store Room     6
Servant Room,Pooja Room,Store Room                6
Pooja Room,Servant Room,Others                    5
Servant Room,Study Room                           5
Servant Room,Study Room,Pooja Room,Store Room     5
Study Room,Pooja Room,Servant Room                5
Servant Room,Store Room,Pooja Room                4
Study Room,Servant Room,Store Room                4
Pooja Room,Servant Room,Study Room,Store Room     4
Study Room,Servant Room,Store Room,Pooja Room     4
Pooja Room,Study Room,Others                      4
Store Room,Pooja Room                             4
Pooja Room,Study Room,Store Room                  3
Study Room,Servant Room,Pooja Room                3
Study Room,Others                                 3
Study Room,Pooja Room,Servant Room,Store Room     3
Study Room,Pooja Room,Store Room,Servant Room     2
Pooja Room,Study Room,Store Room,Servant Room     2
Study Room,Servant Room,Others                    2
Store Room,Pooja Room,Study Room,Servant Room     2
Study Room,Pooja Room                             2
Store Room,Pooja Room,Study Room                  2
Store Room,Pooja Room,Servant Room                2
Servant Room,Study Room,Pooja Room                2
Study Room,Pooja Room,Store Room                  2
Study Room,Store Room                             1
Study Room,Store Room,Pooja Room                  1
Store Room,Pooja Room,Servant Room,Study Room     1
Servant Room,Store Room,Study Room,Pooja Room     1
Servant Room,Study Room,Store Room,Pooja Room     1
Store Room,Servant Room,Study Room,Pooja Room     1
Pooja Room,Store Room,Servant Room                1
Servant Room,Others,Pooja Room                    1
Study Room,Store Room,Servant Room,Pooja Room     1
Store Room,Study Room,Servant Room                1
Store Room,Servant Room,Pooja Room                1
Study Room,Others,Servant Room                    1
Name: count, dtype: int64

In [ ]:
df['additionalRoom'].isnull().sum()

386

In [ ]:
df['additionalRoom'].fillna('not available',inplace=True)

<ipython-input-51-37c81a970354>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['additionalRoom'].fillna('not available',inplace=True)
<ipython-input-51-37c81a970354>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['additionalRoom'].fillna('not available',inplace=True)

In [ ]:
df['additionalRoom'] = df['additionalRoom'].str.lower()

<ipython-input-52-7ca36ee839cd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['additionalRoom'] = df['additionalRoom'].str.lower()

In [ ]:
df['noOfFloor'].value_counts()

noOfFloor
3 Floors     304
2 Floors     288
1 Floors     181
4 Floors     135
5 Floors       9
0 Floors       6
14 Floors      3
6 Floors       3
11 Floors      2
12 Floors      2
10 Floors      2
16 Floors      1
51 Floors      1
41 Floors      1
27 Floors      1
20 Floors      1
13 Floors      1
21 Floors      1
02 Floors      1
33 Floors      1
Name: count, dtype: int64

In [ ]:
df['noOfFloor'] = df['noOfFloor'].str.split(' ').str.get(0)

<ipython-input-54-10cbc4b5b6c6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['noOfFloor'] = df['noOfFloor'].str.split(' ').str.get(0)

In [ ]:
df.rename(columns={'noOfFloor':'floorNum'},inplace=True)

<ipython-input-55-0e9522cda22b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'noOfFloor':'floorNum'},inplace=True)

In [ ]:
df[df['floorNum'].isna()]

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features
23,4 Bedroom House for sale in Sector 48 Gurgaon,vipul tatvam villa,8.50,26235.0,(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),4,4,2,"pooja room,servant room,store room","Sector 48 Gurgaon, Gurgaon, Haryana",NaN,East,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",Three side open villa in tatvam villa sector-4...,"['1 Chimney', '1 Modular Kitchen', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
51,8 Bedroom House for sale in Palam Vihar,independent,5.60,17284.0,(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),8,6,4,"pooja room,study room,servant room,store room","Palam Vihar, Gurgaon, Haryana",NaN,South-West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",360 sq. Yards plot area near by global foyer m...,"['1 Fan', '1 Dining Table', '1 Light', '1 Modu...",NaN
203,3 Bedroom House for sale in DLF Phase 3,independent,1.45,26852.0,(50 sq.m.) Plot Area,Plot area 60(50.17 sq.m.),3,3,1,not available,"DLF Phase 3, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Dlf phase 3 metro station', 'Micromax moulsa...",Interested to sell independent house/villa.Pla...,NaN,['Private Garden / Terrace']
252,3 Bedroom House for sale in Ashok Vihar,independent,1.50,10288.0,(135 sq.m.) Plot Area,Plot area 162(135.45 sq.m.)Built Up area: 210 ...,3,3,0,not available,"800 Lane 8 Ashok Vihar Part 1, Ashok Vihar, Gu...",NaN,NaN,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Ground floor and partial first floor built up,[],NaN
270,2 Bedroom House for sale in Laxman Vihar Phase 2,independent,4.12,8889.0,(431 sq.m.) Plot Area,Plot area 515(430.61 sq.m.),2,1,4,not available,"Laxman Vihar Phase 2, Gurgaon, Haryana",NaN,NaN,5 to 10 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Shre...","Property next to dhanwapur underpass, which is...",[],NaN
281,3 Bedroom House for sale in New Palam Vihar Ph...,independent,2.50,5472.0,(372 sq.m.) Plot Area,Plot area 4000(371.61 sq.m.),3,2,1,not available,"B-245, New Palam Vihar Phase 2, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",100 mtr from dwarka express way. On 40ft road,NaN,['Park']
374,4 Bedroom House for sale in Laxman Vihar,independent,0.65,11111.0,(54 sq.m.) Plot Area,Plot area 65(54.35 sq.m.),4,2,2,not available,"Laxman Vihar, Gurgaon, Haryana",NaN,NaN,5 to 10 Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Well maintained two storeyed independent house...,"['1 Wardrobe', '1 Exhaust Fan', '10 Light', '1...",NaN
397,1 Bedroom House for sale in Sushant Lok Phase 1,ansal sushant lok plots,3.30,26570.0,(115 sq.m.) Plot Area,Plot area 138(115.39 sq.m.),1,1,0,not available,"Sushant Lok Phase 1, Gurgaon, Haryana",NaN,NaN,By 2027,"['Iffco chowk metro station', 'Huda city centr...","Close proximity to gold souk , huda city centr...",NaN,NaN
417,2 Bedroom House for sale in Bhawani Enclave,independent,1.10,73333.0,(14 sq.m.) Plot Area,Plot area 150(13.94 sq.m.),2,2,1,others,"Bhawani Enclave, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['State bank ATM', 'Shri Multispeciality Hospi...","2 side open, 1 drawing room, 1 shop, 1 small r...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN
560,2 Bedroom House for sale in Jacobpura,jacob pura,0.35,9722.0,(33 sq.m.) Built-up Area,Built Up area: 360 (33.45 sq.m.),2,1,0,not available,"15/3, Jacobpura, Jacobpura, Gurgaon, Haryana",NaN,NaN,10+ Year Old,NaN,Independece house for sale in jacobpura near k...,[],NaN
594,6 Bedroom House for sale in DLF Phase 2,independent,13.00,45710.0,(264 sq.m.) Plot Area,Plot area 316(264.22 sq.m.),6,8,4,"pooja room,servant room,study room,store room","DLF Phase 2, Gurgaon, Haryana",NaN,NaN,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Esic...",An impeccable opportunity is here for those wh...,"['1 Water Purifier', '1 Fridge', '1 Sofa', '1 ...",NaN
666,3 Bedroom House for sale in New Colony,independent,6.50,15046.0,(401 sq.m.) Plot Area,Plot area 480(401.34 sq.m.),3,2,4,not available,"New Colony, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Geeta Nursing Home Gurgaon', 'Chiranjiv Hosp...",Old construction house in new colony gurgaon.,[],['Private Garden / Terrace']
709,12 Bedroom House for sale in Sector 46 Gurgaon,independent,6.81,36911.0,(171 sq.m.) Plot Area,Plot area 205(171.41 sq.m.),12,14,4,"servant room,others","Sector 46 Gurgaon, Gurgaon, Haryana",NaN,East,0 to 1 Year Old,"['Axis bank ATM', 'State bank of india ATM', '...",204 sqyds newly floor wise building with basem...,"['14 Wardrobe', '15 Fan', '1 Exhaust Fan', '13...","['Feng Shui / Vaastu Compliant', 'Maintenance ..."
832,4 Bedroom House for sale in Sector 86 Gurgaon,dlf new town heights,2.47,7718.0,(297 sq.m.) Plot Area,Plot area 3200(297.29 sq.m.)Built Up area: 280...,4,4,4,"pooja room,servant room","Sector 86 Gurgaon, Gurgaon, Haryana",NaN,West,5 to 10 Year Old,"['City Square', 'Vatika Town Square', 'Bharat ...",This is beautiful 4 bhk villa in dlf new town ...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '2 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
855,4 Bedroom House for sale in Sector 48 Gurgaon,vipul tatvam villa,8.50,26235.0,(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),4,4,1,not available,"4 Bed And 4 Bathroom, Sector 48 Gurgaon, Gurga...",NaN,NaN,1 to 5 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",360 sq yard 4 bhk residential villa for sale i...,"['4 Bed', '4 Fan', '1 Exhaust Fan', '4 Light',...","['Maintenance Staff', 'Water Storage', 'Separa..."
862,4 Bedroom House for sale in Sushant Lok Phase 1,ansal sushant lok,10.50,27911.0,(350 sq.m.) Plot Area,Plot area 418(349.5 sq.m.),4,4,2,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",NaN,North-East,10+ Year Old,"['Huda city centre metro station', 'New Life C...",Ansal villa for sale 418 sqyd in d block gated...,"['6 Fan', '6 Light', 'No AC', 'No Bed', 'No Ch...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
865,4 Bedroom House for sale in Sector 26 Gurgaon,independent,4.60,12198.0,(350 sq.m.) Plot Area,Plot area 419(350.34 sq.m.),4,4,4,not available,"F-5/10, Sector 26 Gurgaon, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Dlf phase 1 metro station', 'Sikandarpur met...",On the lookout for a spacious house in gurgaon...,[],"['Maintenance Staff', 'Park', 'Visitor Parking..."
1003,4 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,9.00,21251.0,(521 sq.m.) Plot Area,Plot area 5605(520.72 sq.m.)Built Up area: 520...,4,4,4,"pooja room,servant room,store room","Sector 66 Gurgaon, Gurgaon, Haryana",NaN,South-West,1 to 5 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...",A lifestyle designed to satiate all your sense...,"['1 Water Purifier', '6 Fan', '1 Exhaust Fan',...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
1016,12 Bedroom House for sale in Uppals Southend,uppal southend,6.75,290948.0,(22 sq.m.) Plot Area,Plot area 232(21.55 sq.m.),12,12,4,"pooja room,study room,servant room,others","Uppals Southend, Gurgaon, Haryana",NaN,West,5 to 10 Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",Address... Uppal southend sector 49 s block si...,"['22 Wardrobe', '24 Fan', '1 Exhaust Fan', '33...","['Feng Shui / Vaastu Compliant', 'Private Gard..."

In [ ]:
df['facing'].fillna('NA',inplace=True)

<ipython-input-59-e6ba103970bd>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['facing'].fillna('NA',inplace=True)
<ipython-input-59-e6ba103970bd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['facing'].fillna('NA',inplace=True)

In [ ]:
df['area'] = round((df['price']*10000000)/df['price_per_sqft'])

<ipython-input-60-9b6421571791>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['area'] = round((df['price']*10000000)/df['price_per_sqft'])

In [ ]:
df.insert(loc=1,column='property_type',value='house')

In [ ]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,4,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,independent,5.70,105751.0,539.0,Plot area 539(50.07 sq.m.),5,4,2,"store room,pooja room,servant room","Sector 21A Faridabad, Gurgaon, Haryana",2,NA,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ..."
2,10 Bedroom House for sale in Sushant Lok Phase 1,house,independent,2.10,38251.0,549.0,Plot area 61(51 sq.m.),10,10,4,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",5,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,house,independent,5.00,43066.0,1161.0,Plot area 129(107.86 sq.m.),21,21,4,servant room,"Sector 54 Gurgaon, Gurgaon, Haryana",5,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,house,independent,3.00,53763.0,558.0,Plot area 62(51.84 sq.m.),12,12,4,others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito..."

In [ ]:
df.shape

(963, 19)

In [ ]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('n ').str.get(1).str.replace('Gurgaon','').str.strip())

In [ ]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,Sector 70A,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,4,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,independent,Sector 21A Faridabad,5.70,105751.0,539.0,Plot area 539(50.07 sq.m.),5,4,2,"store room,pooja room,servant room","Sector 21A Faridabad, Gurgaon, Haryana",2,NA,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ..."
2,10 Bedroom House for sale in Sushant Lok Phase 1,house,independent,Sushant Lok Phase 1,2.10,38251.0,549.0,Plot area 61(51 sq.m.),10,10,4,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",5,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,house,independent,Sector 54,5.00,43066.0,1161.0,Plot area 129(107.86 sq.m.),21,21,4,servant room,"Sector 54 Gurgaon, Gurgaon, Haryana",5,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,house,independent,Sushant Lok Phase 1,3.00,53763.0,558.0,Plot area 62(51.84 sq.m.),12,12,4,others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito..."

In [ ]:
df['sector'].value_counts()

sector
DLF Phase 1                                43
DLF Phase 2                                39
Sector 109                                 36
Laxma                                      34
Nirvana Country                            31
Sector 48                                  28
Sushant Lok Phase 1                        26
Palam Vihar                                22
DLF Phase 3                                18
Sector 66                                  17
Sector 70A                                 14
Sushant Lok Phase 3                        14
Sector 33                                  13
Sector 46                                  13
Rajendra Park                              13
Sector 56                                  13
Sector 14                                  13
DLF Phase 4                                13
Uppals Southend                            12
Sector 38                                  11
Sector 82                                  10
Sohna Road                                  9
Ashok Vihar Phase 3 Extension               9
Sector 31                                   9
Sector 7                                    8
South City 1                                8
C Block Sushant Lok Phase 1                 8
Sector 40                                   7
Sector 50                                   7
Sector 54                                   7
Sector 3                                    7
Palam Vihar Extension                       7
Sector 39                                   7
Mianwali Colony                             7
Sector 4                                    7
Sector 26                                   7
Sector 57                                   6
Jyoti Park                                  6
Rajiv Nagar                                 6
New Colony                                  6
Malibu Town                                 6
Sector 67                                   6
Jacobpura                                   6
Sector 49                                   6
Sector 55                                   6
Sector 5                                    5
Arju                                        5
Surat Nagar 1                               5
Sushant Lok Phase 2                         5
Saraswati Vihar                             5
Greenwood City                              5
Ansal Plaza                                 5
Sector 11                                   5
Bhim Nagar                                  4
Subhash Nagar                               4
Sector 103                                  4
Shivpuri                                    4
Sector 92                                   4
Sector 72                                   4
Sohna                                       4
Sector 17                                   4
Sector 108                                  4
Ravi Nagar                                  4
Sector 3A                                   4
Garhi Harsaru                               4
Devilal Colony                              4
Ashok Vihar Phase 2                         4
Sector 6                                    4
Baldev Nagar                                4
Shivaji Nagar                               4
Sector 86                                   4
Sector 9                                    4
Vishnu Garden                               4
Madanpuri                                   4
Sector 10A                                  3
Sector 23                                   3
A Block Sushant Lok Phase 1                 3
Surya Vihar                                 3
Sector 12A                                  3
Gandhi Nagar                                3
Sector 52                                   3
Prem Nagar                                  3
Sector 17B                                  3
Sector 27                                   3
Sector 17A                                  3
Sector 23A                                  3
Sector 81                                   3
Sector 105                                  3
B Block Sushant Lok Phase 1                 3
Bhondsi                                     3
Shakti Nagar                                3
Sector 47                                   3
Sector 37D                                  3
Sector 8                                    3
Ashok Vihar                                 3
Maruti Kunj                                 3
Laxmi Garden                                3
Sector 112                                  3
Manohar Nagar                               2
Mayfield Garden                             2
Pratap Nagar                                2
Suncity                                     2
Rosewood                                    2
Sector 45                                   2
Sector 22                                   2
Sector-33 Sohna                             2
Sector 63A                                  2
Acharya Puri                                2
Sector 53                                   2
Sector 1                                    2
Sector 89                                   2
Patel Nagar                                 2
Sohna Gurgao                                2
, Delhi NCR                                 2
Sector 69                                   2
Rajiv Chowk                                 2
Bissar                                      2
Surat Nagar                                 2
Daulatabad                                  2
Sector 91                                   2
Dharam Colony                               2
Narsinghpur                                 2
Krishna Colony                              2
New Basti                                   2
Hira Nagar                                  2
Sector 28                                   2
West Rajiv Nagar                            2
Sector 15 Part 2                            2
Sheetla Colony                              2
Surat Nagar Phase 2                         2
New Palam Vihar                             2
Farukhnagar                                 2
Sector 76                                   2
New Palam Vihar Phase 1                     2
Moha                                        2
Sector 63                                   2
Dayanand Colony                             2
Manesar                                     2
Sec 3 Bhim Vihar Part 1 Bhimgher Kheri      1
HUDA Saraswati Vihar                        1
Bhimgarh Kheri Phase 3                      1
Near euro international School              1
Sector 21A Faridabad                        1
Saraswati Enclave                           1
Kheri                                       1
Golf Course Road                            1
Sector 43                                   1
Dwarka Expressway                           1
Sector 36 Sohna                             1
Sector 60                                   1
Alipur                                      1
Sector 36                                   1
devi lal colony gali no 12 gurgao           1
Sector 15                                   1
Sector 9A                                   1
laxmna vihar, phase 2                       1
B1 Block Sector 57                          1
Sector 106                                  1
Sector 15 Part 1                            1
V Block DLF Phase 3                         1
Hsiidc Plot Sector 1 Imt Manesar            1
Sector 73                                   1
Sector 83                                   1
South City                                  1
Sector 42                                   1
Mehrauli Gurgao                             1
Jat Colony,Fazilpur/Taj Nagar Road          1
Sector 61                                   1
Sector 67A                                  1
Sector 65                                   1
Sector 111                                  1
Sector 17C                                  1
Sector 41                                   1
Gopal Nagar, Garhi Ghasita, Sonipat         1
Sector 51                                   1
Sector 110                                  1
Sector 37B                                  1
Dhankot                                     1
URBAN ESTATE, SECTOR 5                      1
Ashok Vihar Phase 3                         1
Tekchand Nagar                              1
Ashok Vihar Phase I                         1
Gurgao                                      1
Block H Ashok Vihar Phase III Extension     1
Anand Garden, Sector-105                    1
Bhawani Enclave                             1
Om Nagar                                    1
Khandsa                                     1
New Palam Vihar Phase 2                     1
Sector 93                                   1
Near Khandsa Road                           1
Block G Sector-57                           1
Ram Nagar                                   1
Sector 13                                   1
Hno 13 Sagar enclave Sura                   1
Sector 82A                                  1
Vir Nagar                                   1
Part 3 Sector 5                             1
Lucknow                                     1
DLF Phase 5                                 1
Ansal's Palam Vihar                         1
Begampur Khatola                            1
Sector 9B                                   1
ravi nager basai road                       1
Park View                                   1
G block DLF City Phase 1                    1
Pataudi Road                                1
Mahavir pura                                1
Lajpat Nagar                                1
New Jyoti Park                              1
Damdma                                      1
sector-5 sheetla colony                     1
Naharpur Rupa                               1
Jacobpura Near Sadar Bazar                  1
Sadar Bazar                                 1
Ratta                                       1
Mahalaxmi Garden, Rajendra Place            1
IMT Manesar                                 1
Udyog Vihar Phase 1                         1
Bhora Kalan                                 1
near nand hospital                          1
Shivji Park Colony                          1
Sector 104                                  1
Sector 12                                   1
Name: count, dtype: int64

In [ ]:
df['sector'] = df['sector'].str.lower()

<ipython-input-69-c640201f3462>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.lower()

In [ ]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

<ipython-input-70-bae7c24a01bd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
<ipython-input-70-bae7c24a01bd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
<ipython-input-70-bae7c24a01bd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('suncity','sector 54')
<ipython-input-70-bae7c24a01bd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
<ipython-input-70-bae7c24a01bd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('mg road','sector 28')
<ipython-input-70-bae7c24a01bd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
<ipython-input-70-bae7c24a01bd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
<ipython-input-70-bae7c24a01bd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')
<ipython-input-70-bae7c24a01bd>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
<ipython-input-70-bae7c24a01bd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
<ipython-input-70-bae7c24a01bd>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
<ipython-input-70-bae7c24a01bd>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('imt manesar','manesar')
<ipython-input-70-bae7c24a01bd>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
<ipython-input-70-bae7c24a01bd>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
<ipython-input-70-bae7c24a01bd>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
<ipython-input-70-bae7c24a01bd>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
<ipython-input-70-bae7c24a01bd>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
<ipython-input-70-bae7c24a01bd>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
<ipython-input-70-bae7c24a01bd>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
<ipython-input-70-bae7c24a01bd>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
<ipython-input-70-bae7c24a01bd>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
<ipython-input-70-bae7c24a01bd>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
<ipython-input-70-bae7c24a01bd>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
<ipython-input-70-bae7c24a01bd>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
<ipython-input-70-bae7c24a01bd>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
<ipython-input-70-bae7c24a01bd>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
<ipython-input-70-bae7c24a01bd>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
<ipython-input-70-bae7c24a01bd>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
<ipython-input-70-bae7c24a01bd>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
<ipython-input-70-bae7c24a01bd>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
<ipython-input-70-bae7c24a01bd>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
<ipython-input-70-bae7c24a01bd>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
<ipython-input-70-bae7c24a01bd>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
<ipython-input-70-bae7c24a01bd>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('malibu town','sector 47')
<ipython-input-70-bae7c24a01bd>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
<ipython-input-70-bae7c24a01bd>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('new colony','sector 7')
<ipython-input-70-bae7c24a01bd>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
<ipython-input-70-bae7c24a01bd>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
<ipython-input-70-bae7c24a01bd>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
<ipython-input-70-bae7c24a01bd>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
<ipython-input-70-bae7c24a01bd>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
<ipython-input-70-bae7c24a01bd>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
<ipython-input-70-bae7c24a01bd>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
<ipython-input-70-bae7c24a01bd>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
<ipython-input-70-bae7c24a01bd>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
<ipython-input-70-bae7c24a01bd>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
<ipython-input-70-bae7c24a01bd>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
<ipython-input-70-bae7c24a01bd>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')
<ipython-input-70-bae7c24a01bd>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
<ipython-input-70-bae7c24a01bd>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
<ipython-input-70-bae7c24a01bd>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [ ]:
df.sector.value_counts()

sector
sector 26      50
sector 43      42
sector 25      39
sector 50      38
sector 109     36
laxma          34
sector 7       34
sector 2       29
sector 48      28
sector 3       27
sector 28      23
sector 12      23
sector 57      20
sector 105     20
sector 24      18
sector 49      18
sector 11      18
sector 66      17
sector 17      14
sector 70      14
sector 56      13
sector 14      13
sector 33      13
sohna road     13
sector 46      13
sector 9       12
sector 55      11
sector 23      11
sector 38      11
sector 13      10
sector 82      10
sector 6       10
sector 41       9
sector 47       9
sector 54       9
sector 31       9
sector 39       7
sector 4        7
sector 45       7
sector 40       7
sector 67       6
sector 104      6
arju            5
sector 5        5
sector 108      4
sector 103      4
sector 86       4
sector 72       4
sector 92       4
sector 10       3
sector 52       3
sector 81       3
sector 8        3
sector 37       3
sector 21       3
maruti kunj     3
manesar         3
sector 112      3
sector 27       3
Name: count, dtype: int64

In [ ]:
df['sector'] = df['sector'].str.replace('sector 17a','sector 17')
df['sector'] = df['sector'].str.replace('sector 37d','sector 37')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 10a','sector 10')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 17b','sector 17')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 3 phase 2','sector 3')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 3 phase 3 extension','sector 3')
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('sector 70a','sector 70')

<ipython-input-74-d88912863f0f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 17a','sector 17')
<ipython-input-74-d88912863f0f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 37d','sector 37')
<ipython-input-74-d88912863f0f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
<ipython-input-74-d88912863f0f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 10a','sector 10')
<ipython-input-74-d88912863f0f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
<ipython-input-74-d88912863f0f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 17b','sector 17')
<ipython-input-74-d88912863f0f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
<ipython-input-74-d88912863f0f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
<ipython-input-74-d88912863f0f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
<ipython-input-74-d88912863f0f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 3 phase 2','sector 3')
<ipython-input-74-d88912863f0f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
<ipython-input-74-d88912863f0f>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
<ipython-input-74-d88912863f0f>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 3 phase 3 extension','sector 3')
<ipython-input-74-d88912863f0f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
<ipython-input-74-d88912863f0f>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'] = df['sector'].str.replace('sector 70a','sector 70')

In [ ]:
df[df['sector'] == 'new']

Empty DataFrame
Columns: [property_name, property_type, society, sector, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, floorNum, facing, agePossession, nearbyLocations, description, furnishDetails, features]
Index: []

In [ ]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,sector 70,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,4,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
2,10 Bedroom House for sale in Sushant Lok Phase 1,house,independent,sector 43,2.10,38251.0,549.0,Plot area 61(51 sq.m.),10,10,4,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",5,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,house,independent,sector 54,5.00,43066.0,1161.0,Plot area 129(107.86 sq.m.),21,21,4,servant room,"Sector 54 Gurgaon, Gurgaon, Haryana",5,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,house,independent,sector 43,3.00,53763.0,558.0,Plot area 62(51.84 sq.m.),12,12,4,others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito..."
5,20 Bedroom House for sale in Sushant Lok Phase 1,house,independent,sector 43,4.50,39062.0,1152.0,Plot area 128(107.02 sq.m.),20,20,4,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",4,East,1 to 5 Year Old,"['Huda city centre metro station', 'New Life C...",Best for investment purpose. 3l rupees monthly...,"['1 Water Purifier', '1 Fridge', '20 Fan', '1 ...","['Water Storage', 'Park', 'Visitor Parking', '..."

In [ ]:
df.drop(columns=['property_name'],axis=1,inplace=True)

<ipython-input-79-6a24b104f318>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['property_name'],axis=1,inplace=True)

In [ ]:
df.drop(columns=['address','description'],axis=1,inplace=True)

<ipython-input-82-8057f5a372c1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['address','description'],axis=1,inplace=True)

In [ ]:
df.shape

(818, 17)

In [ ]:
df.columns

Index(['property_type', 'society', 'sector', 'price', 'price_per_sqft', 'area',
       'areaWithType', 'bedRoom', 'bathroom', 'balcony', 'additionalRoom',
       'floorNum', 'facing', 'agePossession', 'nearbyLocations',
       'furnishDetails', 'features'],
      dtype='object')

In [ ]:
flats=pd.read_csv('/content/flats_cleaned2.csv')

In [ ]:
df2=pd.concat([df,flats],ignore_index=True)

In [ ]:
df2.to_csv('Gurgaon_properties_cleaned.csv',index=False)

In [ ]:
# feature engineering required -> areaWithType, additionalRoom, facing, agePossession, furnishDetails, features

In [ ]:
df2.head()

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,house,bptp visionnaire,sector 70,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,4,servant room,3,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...","['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
1,house,independent,sector 43,2.10,38251.0,549.0,Plot area 61(51 sq.m.),10,10,4,servant room,5,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito..."
2,house,independent,sector 54,5.00,43066.0,1161.0,Plot area 129(107.86 sq.m.),21,21,4,servant room,5,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
3,house,independent,sector 43,3.00,53763.0,558.0,Plot area 62(51.84 sq.m.),12,12,4,others,5,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...","['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito..."
4,house,independent,sector 43,4.50,39062.0,1152.0,Plot area 128(107.02 sq.m.),20,20,4,servant room,4,East,1 to 5 Year Old,"['Huda city centre metro station', 'New Life C...","['1 Water Purifier', '1 Fridge', '20 Fan', '1 ...","['Water Storage', 'Park', 'Visitor Parking', '..."

In [ ]:
df2.duplicated().sum()

0

In [ ]:
df2.isnull().sum()

property_type        0
society              1
sector               0
price               17
price_per_sqft      17
area                17
areaWithType         0
bedRoom              0
bathroom             0
balcony              0
additionalRoom       0
floorNum            19
facing             781
agePossession        1
nearbyLocations    164
furnishDetails     939
features           573
dtype: int64

In [ ]:
df2[df2['price'].isna()]

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
42,house,emaar mgf marbella,sector 66,NaN,NaN,NaN,Plot area 350(292.64 sq.m.),5,5,4,"pooja room,study room,servant room",3,East,1 to 5 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '15 L...","['Centrally Air Conditioned', 'Water purifier'..."
177,house,independent,sector 11,NaN,NaN,NaN,Plot area 2700(250.84 sq.m.),6,4,2,not available,2,East,5 to 10 Year Old,"['Rajiv Chowk Mosque', 'Hanuman Mandir', 'Stat...","['1 Bed', '1 Wardrobe', '1 Fan', '1 Light', 'N...","['Water Storage', 'Park', 'Waste Disposal']"
206,house,independent,sector 11,NaN,NaN,NaN,Plot area 1000(92.9 sq.m.),2,2,1,not available,1,NA,5 to 10 Year Old,"['Lal Superspeciality Hospital', 'Shri Gobind ...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN
254,house,sobha city,sector 108,NaN,NaN,NaN,Built Up area: 7331 (681.07 sq.m.),5,1,0,not available,1,NA,10+ Year Old,"['Dwarka Sector 21', 'Dwarka Expressway', 'Vas...",NaN,NaN
306,house,not applicable,laxma,NaN,NaN,NaN,Plot area 670(560.21 sq.m.),5,3,2,not available,3,NA,5 to 10 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Prat...",[],NaN
417,house,dlf city plot phase 3,sector 24,NaN,NaN,NaN,Built Up area: 5000 (464.52 sq.m.),5,5,4,not available,4,North-East,undefined,NaN,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN
540,house,independent,sector 25,NaN,NaN,NaN,Plot area 250(209.03 sq.m.)Built Up area: 260 ...,12,12,4,"pooja room,study room,servant room,others",4,North-East,0 to 1 Year Old,"['Vodafone belvedere towers metro station', 'D...","['1 Water Purifier', '12 Fan', '1 Exhaust Fan'...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
547,house,unitech uniworld resorts,sector 33,NaN,NaN,NaN,Plot area 520(434.79 sq.m.),5,8,4,"servant room,store room",4,West,1 to 5 Year Old,"['Rajiv Chowk Mosque', 'Icici bank ATM', 'Stan...","['5 Wardrobe', '15 Fan', '1 Exhaust Fan', '5 G...","['Private Garden / Terrace', 'High Ceiling Hei..."
576,house,emaar mgf marbella,sector 66,NaN,NaN,NaN,Plot area 500(418.06 sq.m.),5,7,4,"pooja room,store room,study room,servant room",2,NA,5 to 10 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","['16 Fan', '1 Exhaust Fan', '8 Geyser', '1 Sto...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
589,house,unitech uniworld resorts,sector 33,NaN,NaN,NaN,Plot area 502(419.74 sq.m.),5,7,4,servant room,3,South-East,1 to 5 Year Old,"['Rajiv Chowk Mosque', 'Icici bank ATM', 'Stan...",NaN,"['Private Garden / Terrace', 'High Ceiling Hei..."
596,house,independent,sector 28,NaN,NaN,NaN,Plot area 270(225.75 sq.m.),16,16,4,"pooja room,study room,servant room,others",4,North-West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...",NaN,"['Feng Shui / Vaastu Compliant', 'Private Gard..."
612,house,unitech espace,sector 50,NaN,NaN,NaN,Plot area 360(301.01 sq.m.),5,5,4,study room,2,NA,5 to 10 Year Old,"['Radhakrishna Shani Mandir', 'Sri Radhe Krish...","['5 Wardrobe', '5 Fan', '11 Light', '6 AC', 'N...","['Maintenance Staff', 'Water Storage', 'Park',..."
631,house,unitech greenwood city,sector 45,NaN,NaN,NaN,Plot area 240(200.67 sq.m.),9,9,4,"study room,servant room",3,South-East,1 to 5 Year Old,"['Axis bank ATM', 'State bank of india ATM', '...","['1 Water Purifier', '16 Fan', '1 Fridge', '1 ...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
702,house,independent,sector 25,NaN,NaN,NaN,Plot area 502(419.74 sq.m.)Built Up area: 450 ...,5,5,4,"pooja room,study room,servant room,others",2,West,1 to 5 Year Old,"['Vodafone belvedere towers metro station', 'D...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Feng Shui / Vaastu Compliant', 'Private Gard..."
799,house,emaar mgf marbella,sector 66,NaN,NaN,NaN,Plot area 350(292.64 sq.m.)Built Up area: 6500...,4,4,4,"pooja room,study room,servant room,store room",3,North,0 to 1 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
800,house,emaar mgf marbella,sector 66,NaN,NaN,NaN,Plot area 350(292.64 sq.m.),5,5,3,not available,2,NA,1 to 5 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","['5 Fan', '1 Exhaust Fan', '6 Geyser', '1 Micr...","['Private Garden / Terrace', 'Maintenance Staf..."
836,flat,signature global orchard avenue 2,sector 93,NaN,NaN,NaN,Carpet area: 577.11 (53.62 sq.m.),2,2,3,not available,11.0,East,Under Construction,"['Huda Metro Station', 'V3S Sapphire Ninety', ...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ..."